In [5]:
import sys
import os
import shutil
import time

import traceback
import signal as sg

from pathlib import Path
import h5py
import json
import pickle

import scipy
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', None)


import seaborn as sns
sns.set(style='whitegrid', palette='muted')

## added TreeMazeanalyses folder using the following command
## conda develop /home/alexgonzalez/Documents/TreeMazeAnalyses2
import Utils.robust_stats as rs
import Pre_Processing.pre_process_functions as pp
import Sorting.sort_functions as sf
from Analyses.subject_info import SubjectInfo

import spikeextractors as se
import spikesorters as ss
import spiketoolkit as st

sns.set(style= 'whitegrid', palette= 'muted')

import signal as sg

from importlib import reload

#### create timeseries from pre_processing files; save in pre_processing files

In [7]:
subject = 'Li'

si = SubjectInfo(subject, load=1)

ModuleNotFoundError: No module named 'TreeMazeAnalyses2'

In [2]:
subject

/home/alexgonzalez/Documents/TreeMazeAnalyses2

## get sorted sessions

In [21]:
subject_id = 'Li'
sorter = 'KS2'
nTT = 16

for subject_id in ['Li','Ne','Cl']:
    if subject_id in ['Cl']:
        root_path = Path('/Data2_SSD2T')
    else:
        root_path = Path('/Data_SSD2T')
    
    sort_path = Path(root_path, 'Data/Sorted', subject_id)    
    pp_path = Path(root_path, 'Data/PreProcessed', subject_id)

    task_table_file = pp_path / 'TasksDir' / ('sort_{}_{}.json'.format(subject_id,sorter))
    with task_table_file.open(mode='r') as f:
        task_table = json.load(f)

    sort_tt_table = pd.DataFrame(columns=np.arange(1,nTT+1))
    sort_tt_valid_table = pd.DataFrame(columns=np.arange(1,nTT+1))
    sort_tt_curated_table = pd.DataFrame(columns=np.arange(1,nTT+1))

    sort_summary_table = pd.DataFrame(index=list(task_table.keys()),columns=['session','n_tt','n_tt_sorted','n_tt_curated','n_total_valid_clusters' ,'n_total_cells','n_total_muas', 'n_total_noise','n_total_unsorted'])

    for task_id, task in task_table.items():
        session_name = task['session_name']
        n_tt = 0
        n_sorted = 0
        n_valid_clusters = 0
        n_curated = 0
        n_cells = 0 
        n_muas = 0
        n_noise = 0
        n_unsorted = 0 
        for subtask_id, subtask in task['files'].items():
            n_tt+=1
            tt_id = subtask['tt_id']

            cl_stat_file = Path(subtask['save_path'],sorter,'cluster_stats.csv')
            if cl_stat_file.exists():
                tt_sorted = 1.0
                tt_valid_clusters = pd.read_csv(cl_stat_file, index_col=0)['valid'].sum()
            else:
                tt_sorted = np.nan
                tt_valid_clusters = 0

            sort_tt_table.at[session_name,int(tt_id)] = tt_sorted
            sort_tt_valid_table.at[session_name,int(tt_id)] = tt_valid_clusters
            n_sorted = np.nansum((n_sorted,tt_sorted))
            n_valid_clusters+=tt_valid_clusters

            cl_group_file = Path(subtask['save_path'],sorter, 'cluster_group.tsv')
            if cl_group_file.exists():
                group_counts = pd.read_csv(cl_group_file,sep='\t')['group'].value_counts()

                group_types = list(group_counts.keys())
                if any([gt in group_types for gt in ['mua','good','noise']]):
                    tt_curated = 1.0 
                    dat_file = Path(subtask['save_path'],sorter,'recording.dat')
                    if dat_file.exists():
                       os.remove(str(dat_file))
                else:
                    tt_curated = 0.0
                if 'mua' in group_types:
                    n_muas += group_counts.at['mua']
                if 'noise' in group_types:
                    n_noise +=  group_counts.at['noise'] 
                if 'good' in group_types:
                    n_cells += group_counts.at['good']
                if 'unsorted' in group_types:
                    n_unsorted += group_counts.at['unsorted']
            else:
                tt_curated = 0.0

            sort_tt_curated_table.at[session_name,int(tt_id)] = tt_curated
            n_curated += tt_curated

        sort_summary_table.at[task_id,'session'] = session_name
        sort_summary_table.at[task_id,'n_tt'] = n_tt
        sort_summary_table.at[task_id,'n_tt_sorted'] = n_sorted
        sort_summary_table.at[task_id,'n_tt_curated'] = n_curated
        sort_summary_table.at[task_id,'n_total_valid_clusters'] = n_valid_clusters
        sort_summary_table.at[task_id,'n_total_cells'] = n_cells
        sort_summary_table.at[task_id,'n_total_muas'] = n_muas
        sort_summary_table.at[task_id,'n_total_noise'] = n_noise
        sort_summary_table.at[task_id,'n_total_unsorted'] = n_unsorted
        
    sort_summary_table.to_csv(Path(sort_path,('sort_summary_{}_{}.csv'.format(sorter,subject_id))))      
    sort_tt_table.to_csv(Path(sort_path,('sort_tt_{}_{}.csv'.format(sorter,subject_id))))      
    sort_tt_valid_table.to_csv(Path(sort_path,('sort_valid_{}_{}.csv'.format(sorter,subject_id))))      
    sort_tt_curated_table.to_csv(Path(sort_path,('sort_curated_{}_{}.csv'.format(sorter,subject_id))))

In [49]:
d = pd.read_csv(cl_stat_file, index_col=0)
d

,cl_num,sorter,fr,isi_viol_rate,n_spikes,n_isi_viol,snr,amp_ch,amp_med_ch,amp_mad_ch,valid,tt_num
KS2_0,0.0,KS2,0.694529,22.042372,1731.0,53.0,3.628978,2.0,41.87500,14.125000,False,16
KS2_1,1.0,KS2,1.725690,0.336828,4301.0,5.0,6.762712,0.0,74.81250,10.437500,True,16
KS2_2,2.0,KS2,2.761666,0.263040,6883.0,10.0,6.903955,0.0,76.37500,9.375000,True,16
KS2_3,3.0,KS2,1.178011,0.433696,2936.0,3.0,5.881356,0.0,65.06250,13.203125,True,16
KS2_4,4.0,KS2,31.412699,0.054283,78291.0,267.0,6.215511,1.0,70.75000,14.250000,True,16
KS2_5,5.0,KS2,2.199543,11.569184,5482.0,279.0,7.472889,1.0,85.06250,21.437500,True,16
KS2_6,6.0,KS2,27.732617,0.045126,69119.0,173.0,6.023336,1.0,68.56250,13.000000,True,16
KS2_8,7.0,KS2,2.592748,0.268587,6462.0,9.0,6.987136,2.0,80.62500,9.375000,True,16
KS2_9,8.0,KS2,0.795639,3.802878,1983.0,12.0,2.897766,2.0,33.43750,10.390625,False,16
KS2_10,9.0,KS2,1.160758,0.446685,2893.0,3.0,2.320921,2.0,26.78125,10.875000,False,16
KS2_11,10.0,KS2,1.080512,0.515496,2693.0,3.0,3.509817,2.0,40.50000,10.765625,False,16
KS2_12,11.0,KS2,4.345722,0.084982,10831.0,8.0,5.447939,3.0,60.90625,9.218750,True,16
KS2_13,12.0,KS2,3.789617,0.097785,9445.0,7.0,5.853249,3.0,65.43750,8.937500,True,16
KS2_14,13.0,KS2,4.021127,0.086849,10022.0,7.0,5.470300,3.0,61.15625,9.031250,True,16
KS2_15,14.0,KS2,3.443757,0.118412,8583.0,7.0,6.020964,3.0,67.31250,9.625000,True,16

In [54]:
d.iloc[0]

cl_num                  0
sorter                KS2
fr               0.694529
isi_viol_rate     22.0424
n_spikes             1731
n_isi_viol             53
snr               3.62898
amp_ch                  2
amp_med_ch         41.875
amp_mad_ch         14.125
valid               False
tt_num                 16
Name: KS2_0, dtype: object

In [59]:
sort_tt_table.loc['Cl_T3g_010218',[1,2,3]]

1    1
2    1
3    1
Name: Cl_T3g_010218, dtype: object

In [44]:
list(np.around(d['snr'].values,2))

[3.63,
 6.76,
 6.9,
 5.88,
 6.22,
 7.47,
 6.02,
 6.99,
 2.9,
 2.32,
 3.51,
 5.45,
 5.85,
 5.47,
 6.02]

In [26]:
pd.read_csv(cl_group_file,sep='\t')['group'].unique()

array(['unsorted'], dtype=object)

In [35]:
sort_summary_table.set_index('session')

,n_tt,n_tt_sorted,n_tt_curated,n_total_valid_clusters,n_total_cells,n_total_muas,n_total_noise,n_total_unsorted
session,,,,,,,,
Cl_T3g_010218,16,16,0,67,0,0,0,269
Cl_OF_010218,16,16,0,129,0,0,0,328
Cl_T3g_010318,16,15,0,52,0,0,0,255
Cl_OF_010318,16,15,0,100,0,0,0,283
Cl_OF_010418,16,15,0,73,0,0,0,275
Cl_T3g_010418,1,1,0,20,0,0,0,26
Cl_T3g_112118,13,0,0,0,0,0,0,0
Cl_T3g_112118_0001,15,15,0,150,0,0,0,268
Cl_OF_112118,15,11,0,111,0,0,0,187
Cl_T3g_112318,15,13,0,137,0,0,0,226
Cl_OF_112318,15,12,0,95,0,0,0,198
Cl_T3g_112818,15,15,0,102,0,0,0,266
Cl_OF_112918,15,15,0,105,0,0,0,237
Cl_T3g_112918,15,15,0,104,0,0,0,236
Cl_T3g_113018,16,16,0,89,0,0,0,246
Cl_OF_113018,16,15,0,92,0,0,0,275
Cl_T3g_120118,5,5,0,48,0,0,0,93
Cl_T3g_120118_0001,15,13,0,55,0,0,0,213
Cl_T3g_120118_0,16,13,0,67,0,0,0,207
Cl_OF_120118,15,15,0,76,0,0,0,291
Cl_T3g_120318,15,12,0,56,0,0,0,214
Cl_OF_120318,15,15,0,102,0,0,0,288
Cl_OF_120418,15,15,0,83,0,0,0,253
Cl_T3g_120418,15,13,0,43,0,0,0,215
Cl_OF_120518,16,16,0,103,0,0,0,274
Cl_T3g_120518,16,14,0,81,0,0,0,241
Cl_OF_120618,16,15,0,137,0,0,0,267
Cl_T3g_120618,15,13,0,63,0,0,0,225
Cl_T3g_120718,16,16,0,77,0,0,0,262
Cl_OF_120718,16,14,0,67,0,0,0,221
Cl_OF_120918,16,15,0,93,0,0,0,270
Cl_T3g_120918,16,16,0,71,0,0,0,246
Cl_OF_121018,16,15,0,97,0,0,0,255
Cl_T3g_121118,16,14,0,63,0,0,0,206
Cl_OF_121118,16,16,0,90,0,0,0,265
Cl_T3g_121218,16,13,0,56,0,0,0,202
Cl_T3g_121218_0001,16,12,0,50,0,0,0,168
Cl_T3g_121318,2,2,0,7,0,0,0,35
Cl_OF_121318,16,16,0,79,0,0,0,332
Cl_T3g_121418,16,13,0,59,0,0,0,231
Cl_T3g_121418_0,16,13,0,50,0,0,0,211
Cl_OF_121418,16,14,0,60,0,0,0,242
Cl_T3g_121718,16,13,0,61,0,0,0,219
Cl_OF_121718,16,14,0,59,0,0,0,251
Cl_T3g_121818,16,14,0,57,0,0,0,225
Cl_OF_121818,15,14,0,74,0,0,0,230
Cl_OF_121918,16,15,0,77,0,0,0,258
Cl_OF_122018,16,15,0,81,0,0,0,265
Cl_OF_122118,16,13,0,79,0,0,0,247
Cl_T3g_122118,16,15,0,66,0,0,0,238
Cl_T3g_122218,16,15,0,64,0,0,0,255
Cl_OF_122218,16,11,0,66,0,0,0,200
Cl_T3g_122818,16,16,0,85,0,0,0,278
Cl_OF_122818,16,16,0,119,0,0,0,300
Cl_T3g_123118,16,16,0,122,0,0,0,300
Cl_OF_123118,16,16,0,134,0,0,0,320
Cl_T3g_010619,16,15,0,65,0,0,0,214
Cl_OF_010619,16,15,0,77,0,0,0,276
Cl_OF_010719,16,15,0,91,0,0,0,247
Cl_T3g_010819,16,15,0,64,0,0,0,209
Cl_OF_010819,16,0,0,0,0,0,0,0
Cl_OF_010919,16,14,0,66,0,0,0,213
Cl_T3g_010919,16,15,0,79,0,0,0,232
Cl_T3g_011019,3,3,0,10,0,0,0,45
Cl_OF_011019,16,12,0,84,0,0,0,204
Cl_T3g_011419,16,14,0,71,0,0,0,236
Cl_OF_011419,16,16,0,103,0,0,0,305
Cl_OF_011519,16,14,0,95,0,0,0,244
Cl_T3g_011519,15,13,0,73,0,0,0,213
Cl_OF_011619,16,13,0,88,0,0,0,216
Cl_T3g_011619,16,12,0,79,0,0,0,207
Cl_OF_011719,16,16,0,97,0,0,0,251
Cl_OF_011819,3,1,0,3,0,0,0,25
Cl_OF_012219,16,16,0,75,0,0,0,288
Cl_OF_012319,16,16,0,64,0,0,0,284
Cl_OF_012419,16,13,0,62,0,0,0,259
Cl_T3g_012419,16,16,0,95,0,0,0,271
Cl_OF_012519,16,16,0,110,0,0,0,284
Cl_T3g_012519,16,16,0,102,0,0,0,334
Cl_OF_012819,16,16,0,92,0,0,0,254
Cl_T3g_012819,16,14,0,58,0,0,0,224
Cl_T3g_012919,16,15,0,51,0,0,0,221
Cl_T3g_013019,12,12,0,40,0,0,0,197
Cl_OF_013019,16,13,0,76,0,0,0,212
Cl_OF_013119,16,15,0,63,0,0,0,269
Cl_T3g_020419,16,16,0,41,0,0,0,276
Cl_OF_020419,16,12,0,93,0,0,0,216
Cl_T3g_020519,16,16,0,58,0,0,0,286
Cl_OF_020519,16,13,0,38,0,0,0,212
Cl_OF_020619,16,16,0,87,0,0,0,289
Cl_T3g_020619,16,16,0,81,0,0,0,298
Cl_T3g_020719,16,16,0,28,0,0,0,281
Cl_OF_020719,16,16,0,83,0,0,0,271
Cl_T3g_020819,16,16,0,43,0,0,0,260
Cl_OF_020819,16,15,0,77,0,0,0,245
Cl_OF_021119,2,2,0,7,0,0,0,31
Cl_T3i_021219,3,3,0,5,0,0,0,46
Cl_OF_021219,6,5,0,12,0,0,0,109
Cl_OF_021319,16,13,0,60,0,0,0,210
Cl_T3i_021319,16,16,0,99,0,0,0,344
Cl_T3g_021419,16,16,0,97,0,0,0,250
Cl_OF_021419,16,16,0,57,0,0,0,261
Cl_T3i_021419,16,14,0,101,0,0,0,221
Cl_T3g_021519,16,15,0,97,0,0,0,238
Cl_OF_021519,16,14,0,68,0,0,0,229
Cl_T3i_021519,16,16,0,123,0,0,0,280
Cl_T3g_021719,16,14,0,103,0,0,0,223

In [14]:
sort_summary_table.to_csv(Path(sort_path,('sort_summary_{}_{}.csv'.format(sorter,subject_id))))
sort_summary_table

,session,n_tt,n_tt_sorted,n_tt_curated,n_total_valid_clusters,n_total_cells,n_total_muas,n_total_noise,n_total_unsorted
1,Li_T3g_052818,3,3,0,2,0,0,0,50
2,Li_OF_052818,8,7,7,42,3,11,110,18
3,Li_T3g_052918,13,10,0,43,0,0,0,153
4,Li_OF_052918,12,10,10,77,16,13,136,0
5,Li_OF_053018,13,11,10,56,12,28,125,17
6,Li_T3g_053018,13,11,0,40,0,0,0,156
7,Li_OF_053118,11,9,8,85,8,15,115,4
8,Li_T3g_053118,14,12,0,57,0,0,0,184
9,Li_T3g_060118,14,11,0,39,0,0,0,161
10,Li_OF_060118,14,10,9,54,8,13,133,7
11,Li_T3g_060418,13,8,0,35,0,0,0,109
12,Li_OF_060418,14,9,8,99,6,14,126,15
13,Li_T3i_060518,14,11,0,50,0,0,0,172
14,Li_OF_060518,11,11,9,62,18,11,112,38
15,Li_T3i_060618,14,11,0,47,0,0,0,184
16,Li_OF_060718,14,6,6,57,19,18,67,0
17,Li_T3i_060818,14,12,0,26,0,0,0,184
18,Li_OF_060818,14,14,14,77,1,21,220,0
19,Li_OF_061118,12,8,6,48,9,13,67,42
20,Li_T3i_061118,12,7,0,35,0,0,0,109
21,Li_OF_061218,12,9,9,61,14,18,127,0
22,Li_T3i_061218,13,0,0,0,0,0,0,0
23,Li_T3i_061218_0001,13,10,0,39,0,0,0,154
24,Li_OF_061318,15,10,0,72,0,0,0,173
25,Li_T3g_061318,14,10,0,43,0,0,0,162
26,Li_T3g_061418,14,13,0,49,0,0,0,218
27,Li_OF_061418,12,9,0,71,0,0,0,164
28,Li_OF_061518,11,7,0,64,0,0,0,130
29,Li_T3g_061518,11,9,0,41,0,0,0,144
30,Li_OF_061818,13,10,0,87,0,0,0,191
31,Li_T3g_061818,12,9,0,57,0,0,0,135
32,Li_OF_062018,13,11,0,88,0,0,0,204
33,Li_T3g_062018,12,9,0,53,0,0,0,143
34,Li_T3g_062518,13,11,0,70,0,0,0,177
35,Li_OF_062518,12,8,0,93,0,0,0,151
36,Li_T3g_062618,13,11,0,56,0,0,0,187
37,Li_OF_062618,13,10,0,99,0,0,0,178
38,Li_T3g_062718,14,11,0,63,0,0,0,177
39,Li_OF_062718,10,10,0,86,0,0,0,175
40,Li_T3g_062818,11,9,0,53,0,0,0,143
41,Li_OF_062818,13,9,0,82,0,0,0,165
42,Li_OF_062918,11,9,0,84,0,0,0,167
43,Li_T3g_062918,13,11,0,60,0,0,0,173
44,Li_OF_070218,11,10,0,107,0,0,0,204
45,Li_T3g_070218,11,9,0,66,0,0,0,144
46,Li_T3g_070518,12,0,0,0,0,0,0,0
47,Li_T3g_070518_0001,12,9,0,59,0,0,0,143
48,Li_T3g_070618,12,11,0,58,0,0,0,186
49,Li_OF_070618,11,11,0,71,0,0,0,182
50,Li_T3g_070918,13,10,0,57,0,0,0,160
51,Li_OF_071018,12,10,0,83,0,0,0,189
52,Li_T3g_071018,13,11,0,68,0,0,0,178
53,Li_T3g_071118,13,12,0,68,0,0,0,186
54,Li_T3g_072518,11,7,0,55,0,0,0,117
55,Li_T3g_072618,11,9,0,55,0,0,0,150
56,Li_T3g_073018,13,10,0,55,0,0,0,159
57,Li_T3g_080118,13,10,0,49,0,0,0,154
58,Li_OF_080118,14,10,0,78,0,0,0,182
59,Li_T3g_080218,13,11,0,21,0,0,0,169
60,Li_OF_080218,12,9,0,88,0,0,0,161
61,Li_T3g_080318,13,8,0,32,0,0,0,135
62,Li_T3g_080618,11,7,0,30,0,0,0,111
63,Li_OF_080718,14,10,0,51,0,0,0,175

True

In [19]:
sort_tt_table.to_csv(Path( data_folder ,('valid_session_tt_{}.csv'.format(subject_id))))
sort_tt_valid_table.to_csv(Path( data_folder ,('valid_tt_sorts_{}.csv'.format(subject_id))))

In [5]:
(1-(sort_id_table['n_tt']-sort_id_table['n_sorted'])/sort_id_table['n_tt']).median()

0.7857142857142857

In [70]:
np.nansum(sort_table.values.astype(float),axis=1)

array([ 3.,  8., 10., 10., 11., 11.,  9., 12., 11., 10.,  8.,  9., 11.,
       11., 11.,  6., 12., 14.,  8.,  7.,  9.,  0., 10., 10., 10., 13.,
        9.,  7.,  9., 10.,  9., 11.,  9., 11.,  8., 11., 10., 11., 10.,
        9.,  9.,  9., 11., 10.,  9.,  0.,  9., 11., 11., 10., 10., 11.,
       11.,  7.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

In [71]:
sort_table

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
Li_T3g_052818,NaN,1,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Li_OF_052818,NaN,1,NaN,1,1,1,1,1,NaN,NaN,1,NaN,1,NaN,NaN,NaN
Li_T3g_052918,0,1,1,0,NaN,0,1,1,1,1,NaN,NaN,1,1,1,1
Li_OF_052918,0,1,1,0,NaN,1,1,1,1,1,NaN,NaN,1,1,NaN,1
Li_OF_053018,1,1,1,0,0,1,1,1,1,1,NaN,NaN,1,1,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Li_T3g_080218,0,0,0,0,NaN,0,0,0,0,0,NaN,NaN,0,0,0,0
Li_OF_080218,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,NaN,NaN
Li_T3g_080318,0,0,0,0,NaN,0,0,0,0,0,NaN,NaN,0,0,0,0
Li_T3g_080618,0,0,0,0,NaN,0,0,0,0,0,NaN,NaN,NaN,0,0,NaN
Li_OF_080718,0,0,0,0,0,0,0,0,0,0,NaN,NaN,0,0,0,0

## convert sessions to np.float16

In [36]:
# task table folder
subject = 'Li'
data_root = '/home/alexgonzalez/Documents/TreeMazeAnalyses2/Pre_Processing/TasksDir/'
file_name = Path(data_root, 'pp_table_{}.json'.format(subject))

with file_name.open(mode="r") as f:
    task_table = json.load(f)

In [39]:
task_table['4']['Files']['3']

{'session': 'Li_OF_052818',
 'task_type': 'tt',
 'filenames': ['/Data_SSD2T/Data/Raw/Li/Li_OF_052818/CSC1a.ncs',
  '/Data_SSD2T/Data/Raw/Li/Li_OF_052818/CSC1b.ncs',
  '/Data_SSD2T/Data/Raw/Li/Li_OF_052818/CSC1c.ncs',
  '/Data_SSD2T/Data/Raw/Li/Li_OF_052818/CSC1d.ncs'],
 'tt_id': '1',
 'sp': '/Data_SSD2T/Data/PreProcessed/Li/Li_OF_052818',
 'subSessionID': '0000'}

In [46]:
for task_id, task in task_table.items():
    for subtask_id, subtask in task['Files'].items():
        if subtask['task_type']=='tt':
            tt_id = subtask['tt_id']
            data_file = Path( subtask['sp'], ('tt_{}.npy').format(tt_id) )
            signals = np.load(str(data_file))
            signals = signals.astype(np.float16)
            np.save(str(data_file),signals)

In [45]:
signals

array([[-5.4102e+00, -1.6670e+00,  1.7700e-01, ...,  1.2656e+01,
         1.0781e+01,  8.6562e+00],
       [ 3.8550e+02,  3.9025e+02,  3.9425e+02, ...,  4.2148e+00,
         4.0859e+00,  3.9609e+00],
       [-9.2266e+00, -5.7500e+00, -3.6680e+00, ...,  1.2861e+00,
        -5.2686e-01, -2.4941e+00],
       [-1.3938e+01, -1.0641e+01, -9.9844e+00, ...,  1.3586e+01,
         1.0203e+01,  4.4648e+00]], dtype=float16)

## Debug preprocessing

In [60]:
subject_id = 'Ne'
data_folder = Path('/Data_SSD2T/Data/PreProcessed/', subject_id)
task_id = 14

task_table_file = data_folder / 'TasksDir' / ('pp_table_{}.json'.format(subject_id))
with task_table_file.open(mode='r') as f:
    task_table = json.load(f)

subtask = task_table[str(task_id)]['files']

In [61]:
subtask_id = 13

pp.process_tetrode(subtask[str(subtask_id)])

In [62]:
tt_info = pp.get_tt_info(subtask[str(subtask_id)])

job = subtask[str(subtask_id)]

In [63]:
job

{'session': 'NE_OF_060418',
 'task_type': 'tt',
 'filenames': ['/media/alexgonzalez/RawData/Data/Ne/NE_OF_060418/CSC11a.ncs',
  '/media/alexgonzalez/RawData/Data/Ne/NE_OF_060418/CSC11b.ncs',
  '/media/alexgonzalez/RawData/Data/Ne/NE_OF_060418/CSC11c.ncs',
  '/media/alexgonzalez/RawData/Data/Ne/NE_OF_060418/CSC11d.ncs'],
 'tt_id': '11',
 'sp': '/Data_SSD2T/Data/PreProcessed/Ne/NE_OF_060418',
 'subSessionID': '0000'}