# Notebook to show the validate event pre-processing and formatting

In [2]:
%matplotlib inline
from importlib import reload
from pathlib import Path

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', None)

import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid', palette='muted')

from types import SimpleNamespace

from TreeMazeAnalyses2.Analyses import subject_info as si
import TreeMazeAnalyses2.Analyses.tree_maze_functions as tmf
import Analyses.spatial_functions as spatial_funcs
import Utils.filter_functions as filter_funcs

from pykalman import KalmanFilter
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=UserWarning)

In [3]:
subject = 'Li'
session = 'Li_T3g_070618'

In [4]:
si = reload(si)
overwrite=True
subject_info = si.SubjectInfo(subject, overwrite=overwrite)

Error Computing Cluster Stats for Li_OF_052818

In [5]:
# load a session
si = reload(si)
session_info = si.SubjectSessionInfo(subject, session)

In [19]:
tmf = reload(tmf)
b = tmf.BehaviorData(session_info, overwrite=True)

In [20]:
b.trial_table.head(10)

     t0     tE   dur cue dec correct long goal  sw  vsw
0   101    523   422   L   L       1    1    4   0    0
1   890   1332   441   R   L       0   -1   -1   1    1
2  1855   2361   506   L   R       0   -1   -1   1    0
3  2824   3539   714   R   L       0   -1   -1   1    0
4  3759   4434   674   L   L       1    1    4   1    0
5  4608   4984   376   L   L       1    0    3   0    0
6  5326   5620   294   L   L       1    0    3   0    0
7  5961   8598  2637   R   L       0   -1   -1   1    1
8  8927   9264   337   R   R       1    1    1   0    0
9  9636  10018   381   R   R       1    1    1   0    0

In [61]:
df = b.trial_table
perf = pd.DataFrame(index=[0])
perf['n_trials'] = df.shape[0]
perf['n_sw_trials'] = df.sw.sum()
perf['n_vsw_trials'] = df.vsw.sum()
perf['pct_correct'] = df.correct.mean()
perf['pct_sw_correct'] = (df.sw & df.correct).sum()/perf.n_sw_trials
perf['pct_vsw_correct'] = (df.vsw & df.correct).sum()/perf.n_vsw_trials
perf['n_L_trials'] = (df.cue=='L').sum()
perf['n_R_trials'] = (df.cue=='R').sum()
perf['pct_L_correct'] = ((df.cue=='L') & df.correct).sum() / perf.n_L_trials
perf['pct_R_correct'] = ((df.cue=='R') & df.correct).sum() / perf.n_R_trials
perf

,n_trials,n_sw_trials,n_vsw_trials,pct_correct,pct_sw_correct,pct_vsw_correct,n_L_trials,n_R_trials,pct_L_correct,pct_R_correct
0,183,95,62,0.622951,0.578947,0.645161,89,94,0.561798,0.680851

In [60]:
perf = pd.DataFrame(index=[0])
perf['n_trials'] = df.shape[0]
perf

   n_trials
0       183

In [25]:
b.trial_table.head()

      t0     tE  dur cue dec corr
0  24598  25021  422   L   L    1
1  25388  25830  441   R   L    0
2  26352  26859  506   L   R    0
3  27322  28036  714   R   L    0
4  28257  28932  674   L   L    1

In [44]:
df = b.trial_table.copy()
df['sw'] = 0
df.loc[1:, 'sw'] = b.trial_table['cue'][:-1].values!=b.trial_table['cue'][1:].values


df['vsw'] = 0
df.loc[1:, 'vsw'] = (df['corr'][:-1].values) & (df['sw'][1:].values)

df = df.astype({'sw':'int', 'vsw':'int'})
df.head(20)

       t0     tE   dur cue dec corr  sw  vsw
0   24598  25021   422   L   L    1   0    0
1   25388  25830   441   R   L    0   1    1
2   26352  26859   506   L   R    0   1    0
3   27322  28036   714   R   L    0   1    0
4   28257  28932   674   L   L    1   1    0
5   29105  29481   376   L   L    1   0    0
6   29823  30118   294   L   L    1   0    0
7   30458  33096  2637   R   L    0   1    1
8   33424  33762   337   R   R    1   0    0
9   34134  34515   381   R   R    1   0    0
10  34828  35088   259   R   L    0   0    0
11  35608  36174   565   L   R    0   1    0
12  36590  36980   389   L   L    1   0    0
13  37166  37415   249   L   L    1   0    0
14  37788  38077   288   R   L    0   1    1
15  38602  38912   309   R   R    1   0    0
16  39166  39480   314   L   L    1   1    1
17  39668  39950   281   R   L    0   1    1
18  40470  40772   302   R   R    1   0    0
19  41018  41282   263   R   L    0   0    0

In [46]:
(df.cue=='L')

0       True
1      False
2       True
3      False
4       True
5       True
6       True
7      False
8      False
9      False
10     False
11      True
12      True
13      True
14     False
15     False
16      True
17     False
18     False
19     False
20     False
21      True
22     False
23      True
24     False
25     False
26      True
27     False
28     False
29     False
30      True
31     False
32      True
33      True
34      True
35      True
36      True
37      True
38      True
39     False
40     False
41     False
42      True
43      True
44      True
45      True
46      True
47     False
48      True
49     False
50     False
51     False
52     False
53      True
54      True
55      True
56     False
57     False
58      True
59     False
60      True
61      True
62     False
63     False
64      True
65      True
66      True
67     False
68      True
69     False
70     False
71      True
72     False
73     False
74     False
75     False
76      True
77      True
78     False
79     False
80      True
81     False
82      True
83     False
84     False
85     False
86      True
87      True
88     False
89     False
90      True
91     False
92      True
93      True
94     False
95     False
96      True
97     False
98      True
99      True
100    False
101    False
102    False
103     True
104     True
105     True
106     True
107     True
108     True
109     True
110     True
111     True
112    False
113    False
114     True
115    False
116    False
117    False
118     True
119    False
120    False
121     True
122    False
123     True
124     True
125     True
126    False
127     True
128    False
129     True
130    False
131     True
132    False
133    False
134     True
135    False
136    False
137    False
138     True
139    False
140     True
141    False
142    False
143    False
144    False
145     True
146    False
147    False
148     True
149     True
150     True
151     True
152    False
153    False
154    False
155     True
156     True
157    False
158     True
159    False
160    False
161    False
162     True
163    False
164     True
165     True
166    False
167     True
168    False
169     True
170    False
171    False
172    False
173    False
174     True
175     True
176     True
177     True
178    False
179     True
180    False
181     True
182    False
Name: cue, dtype: bool

In [34]:
df['vsw'] = 0
df.loc[1:, 'vsw'] = (df['corr'][:-1].values) & (df['sw'][1:].values)

df.head(10)

      t0     tE   dur cue dec corr  switch v_switch
0  24598  25021   422   L   L    1       0        0
1  25388  25830   441   R   L    0       1        1
2  26352  26859   506   L   R    0       1        0
3  27322  28036   714   R   L    0       1        0
4  28257  28932   674   L   L    1       1        0
5  29105  29481   376   L   L    1       0        0
6  29823  30118   294   L   L    1       0        0
7  30458  33096  2637   R   L    0       1        1
8  33424  33762   337   R   R    1       0        0
9  34134  34515   381   R   R    1       0        0

In [13]:
b.event_table.head()

   event     t0     tE  dur  trial_num  out_bound
0  Start  24497  24497    0         -1          0
1    DE2  24530  24535    5         -1          0
2    DE1  24591  24596    5         -1          0
3    RW1  24591  24615   24         -1          0
4     RD  24591  24615   24         -1          0

In [62]:
a = b.event_durs[b.event_durs.event=='CL'].copy()

In [63]:
a.reset_index(drop='True')

   event      t0      tE   dur trial_num  out_bound
0     CL   24598   25021   423         0       True
1     CL   26352   26786   434         2       True
2     CL   28257   28932   675         4       True
3     CL   29105   29481   376         5       True
4     CL   29823   30118   295         6       True
5     CL   35608   36070   462        11       True
6     CL   36590   36980   390        12       True
7     CL   37166   37415   249        13       True
8     CL   39166   39480   314        16       True
9     CL   45854   46477   623        21       True
10    CL   48213   51603  3390        23       True
11    CL   54879   55374   495        26       True
12    CL   57543   57857   314        30       True
13    CL   58685   59023   338        32       True
14    CL   59236   59487   251        33       True
15    CL   60743   61122   379        34       True
16    CL   61323   61589   266        35       True
17    CL   62155   62583   428        36       True
18    CL   62786   63092   306        37       True
19    CL   63534   63882   348        38       True
20    CL   65697   66009   312        42       True
21    CL   66232   66487   255        43       True
22    CL   67010   67277   267        44       True
23    CL   67576   67892   316        45       True
24    CL   68293   68543   250        46       True
25    CL   69668   70027   359        48       True
26    CL   72878   73153   275        53       True
27    CL   73707   74187   480        54       True
28    CL   74391   74717   326        55       True
29    CL   76221   76489   268        58       True
30    CL   77928   78563   635        60       True
31    CL   79088   79409   321        61       True
32    CL   81270   81583   313        64       True
33    CL   82327   82642   315        65       True
34    CL   83001   83375   374        66       True
35    CL   84168   84488   320        68       True
36    CL   86671   86969   298        71       True
37    CL   91038   91428   390        76       True
38    CL   91642   92058   416        77       True
39    CL   93989   94256   267        80       True
40    CL   95412   95686   274        82       True
41    CL   97690   98073   383        86       True
42    CL   98303   98649   346        87       True
43    CL  101594  102014   420        90       True
44    CL  105414  106392   978        92       True
45    CL  106944  107433   489        93       True
46    CL  110719  111288   569        96       True
47    CL  113237  114224   987        98       True
48    CL  114788  115206   418        99       True
49    CL  117341  117772   431       103       True
50    CL  118353  118675   322       104       True
51    CL  119202  119540   338       105       True
52    CL  120088  120380   292       106       True
53    CL  120913  121357   444       107       True
54    CL  122050  125130  3080       108       True
55    CL  125838  126181   343       109       True
56    CL  127360  127639   279       110       True
57    CL  128165  128766   601       111       True
58    CL  131148  131459   311       114       True
59    CL  135849  136203   354       118       True
60    CL  138777  139054   277       121       True
61    CL  140290  140589   299       123       True
62    CL  141396  141747   351       124       True
63    CL  142016  142288   272       125       True
64    CL  143369  143693   324       127       True
65    CL  144928  145350   422       129       True
66    CL  146519  146891   372       131       True
67    CL  148902  150492  1590       134       True
68    CL  153141  153438   297       138       True
69    CL  154663  155038   375       140       True
70    CL  158029  158356   327       145       True
71    CL  159899  160391   492       148       True
72    CL  160711  161080   369       149       True
73    CL  161583  161953   370       150       True
74    CL  162530  162794   264       151       True
75    CL  165042  165423   381       155       True
76    CL  165655  166060   405       156       True
77    CL  166961  167272   311       158       True
78    CL  169244  169512   268       162       True
79    CL  170620  170935   315       164       True
80    CL  171550  171955   405       165       True
81    CL  173089  173363   274       167       True
82    CL  174486  174847   361       169       True
83    CL  177992  178351   359       174       True
84    CL  178606  178983   377       175       True
85    CL  179216  179522   306       176       True
86    CL  180061  180297   236       177       True
87    CL  181523  181879   356       179       True
88    CL  183007  183384   377       181       True

In [85]:
L_trials = b.trial_table[b.trial_table.dec=='L']
L_trials.index.values

array([  0,   1,   3,   4,   5,   6,   7,  10,  12,  13,  14,  16,  17,
        19,  20,  21,  24,  25,  26,  28,  30,  32,  34,  36,  37,  38,
        42,  44,  45,  48,  52,  54,  55,  59,  61,  63,  65,  66,  69,
        74,  76,  78,  82,  86,  87,  90,  95,  96,  97,  99, 100, 103,
       109, 112, 113, 115, 116, 124, 125, 131, 135, 140, 143, 145, 148,
       149, 151, 155, 156, 158, 162, 163, 167, 168, 170, 174, 175, 179,
       181])

In [72]:
a = b.event_durs.loc[b.event_durs.event=='RW2', ['tE', 'trial_num']].copy()

               tE
trial_num
0           24781
1           25575
2           26548
3           27523
4           28414
5           29275
7           32456
9           34241
10          34971
11          35936
12          36741
13          37301
14          37925
15          38755
16          39277
17          39826
18          40633
19          41152
20          42846
21          46147
22          47758
23          49828
24          52479
25          54176
26          55155
27          55785
28          56413
30          57665
31          58276
32          58849
33          59754
34          60894
35          61458
36          62335
37          62900
38          63688
41          65307
42          65873
43          66367
44          67163
45          67706
46          68436
47          69213
48          69813
49          70562
50          71168
51          71642
52          72226
53          73036
54          73909
55          74506
56          75105
57          75741
58          76363
59          77232
60          78407
61          79262
63          80610
64          81460
65          82507
66          83162
67          83760
68          84348
69          85220
70          86048
71          86850
72          87673
73          89116
74          89771
75          90598
76          91203
77          91874
78          92794
79          93607
80          94122
81          95015
82          95563
83          96135
85          97314
86          97877
87          98447
88          99037
89          99897
90         101798
91         103646
92         105592
93         107311
94         108651
95         109608
96         111061
97         112558
98         114037
99         114984
100        115647
101        116442
102        116952
103        117648
104        118555
105        119377
106        120261
107        121232
108        123716
109        126012
110        127518
111        128339
112        129448
113        130464
114        131344
115        132432
116        133889
117        135460
118        136067
119        137140
120        138340
121        138921
122        139809
123        140453
124        141575
125        142175
126        142751
127        143565
128        144442
129        145198
130        146030
131        146673
132        147307
133        148372
134        149042
135        151153
136        152089
137        152665
138        153313
139        154137
140        154823
141        155428
142        156132
143        156776
144        157642
145        158163
146        158758
148        160095
149        160963
150        161786
151        162681
152        163197
153        163837
154        164560
155        165221
156        165853
157        166430
158        167121
159        167691
160        168186
161        168773
162        169394
163        169951
164        170813
165        171719
166        172669
167        173249
168        173828
169        174706
170        175537
171        176455
172        176982
173        177505
174        178146
175        178781
176        179390
178        181056
179        181677
180        182504
181        183185
182        183783

In [95]:
tmf = reload(tmf)
b = tmf.BehaviorData(session_info)

AttributeError: 'SubjectSessionInfo' object has no attribute 'get_raw_events'