In [1]:
%matplotlib inline
import TreeMazeAnalyses2.Analyses.experiment_info as ei
from importlib import reload

import numpy as np
from pynwb import NWBFile, TimeSeries, NWBHDF5IO
from pynwb.file import Subject
from pynwb.epoch import TimeIntervals
from pynwb.core import DynamicTable, NWBContainer
from datetime import datetime

In [108]:
ei = reload(ei)
info = ei.SummaryInfo()

In [109]:
info.experiment_metadata_tables()

(       name subject        session task task_orig n_cells n_mua
 0     s0se0      Li  Li_T3g_052818   T3       T3g       0     2
 1     s0se1      Li   Li_OF_052818   OF        OF       3    11
 2     s0se2      Li  Li_T3g_052918   T3       T3g       6     8
 3     s0se3      Li   Li_OF_052918   OF        OF      16    13
 4     s0se4      Li   Li_OF_053018   OF        OF      12    28
 ..      ...     ...            ...  ...       ...     ...   ...
 283  s4se34      Ca  Ca_T3g_041119   T3       T3g       0     1
 284  s4se35      Ca  Ca_T3g_041619   T3       T3g       0     1
 285  s4se36      Ca  Ca_T3g_041919   T3       T3g       0     1
 286  s4se37      Ca   Ca_OF_042319   OF        OF       1     0
 287  s4se38      Ca  Ca_T3g_042319   T3       T3g       0     1

 [288 rows x 7 columns],
      match_cl_id subject          session_T3    session_OF  \
 0              0      Li  Li_T3i_061218_0001  Li_OF_061318
 1              0      Li       Li_T3g_061318  Li_OF_061318
 2              1      Li       Li_T3g_061518  Li_OF_062618
 3              1      Li       Li_T3g_061818  Li_OF_062618
 4              2      Li       Li_T3g_061818  Li_OF_061818
 ..           ...     ...                 ...           ...
 301          213      Ca       Ca_T3g_030519  Ca_OF_030519
 302          214      Ca       Ca_T3g_030619  Ca_OF_030619
 303          215      Ca       Ca_T3g_030619  Ca_OF_030619
 304          215      Ca       Ca_T3g_030719  Ca_OF_030619
 305          216      Ca       Ca_T3g_031219  Ca_OF_031219

                             cl_name_T3                     cl_name_OF  \
 0    Li_T3i_061218_0001-tt3_d17.5_cl10     Li_OF_061318-tt3_d17.5_cl1
 1          Li_T3g_061318-tt3_d17.5_cl5     Li_OF_061318-tt3_d17.5_cl1
 2         Li_T3g_061518-tt3_d17.75_cl1   Li_OF_062618-tt3_d17.75_cl15
 3         Li_T3g_061818-tt3_d17.75_cl7   Li_OF_062618-tt3_d17.75_cl15
 4         Li_T3g_061818-tt3_d17.75_cl6   Li_OF_061818-tt3_d17.75_cl14
 ..                                 ...                            ...
 301     Ca_T3g_030519-tt11_d15.25_cl14  Ca_OF_030519-tt11_d15.25_cl13
 302      Ca_T3g_030619-tt11_d15.5_cl10   Ca_OF_030619-tt11_d15.5_cl10
 303      Ca_T3g_030619-tt11_d15.5_cl12   Ca_OF_030619-tt11_d15.5_cl13
 304       Ca_T3g_030719-tt11_d15.5_cl9   Ca_OF_030619-tt11_d15.5_cl13
 305      Ca_T3g_031219-tt11_d16.25_cl2   Ca_OF_031219-tt11_d16.25_cl4

      uuid_T3  uuid_OF  match_pair_number  of_cluster_id  of_umap1  of_umap2
 0        438      458                  0              0 -2.638338  0.990572
 1        476      458                  1              0 -2.638338  0.990572
 2        563      778                  0              1  3.101047  3.932008
 3        614      778                  1              1  3.101047  3.932008
 4        613      587                  0              2  9.152409  4.889115
 ..       ...      ...                ...            ...       ...       ...
 301     4259     4268                  1              2  8.302361  4.307436
 302     4287     4279                  0              1  5.213426  3.009110
 303     4288     4280                  0              1  3.950651  2.857656
 304     4296     4280                  1              1  3.950651  2.857656
 305     4310     4313                  0              0 -2.082132  2.709928

 [306 rows x 12 columns],
         n_trials  n_sw_trials  n_vsw_trials  n_L_trials  n_R_trials  \
 name
 s0se0         61           28            21          27          34
 s0se2        179           64            52          86          93
 s0se5        146           58            43          64          82
 s0se7        161           77            65          78          83
 s0se8        176           65            52          85          91
 ...          ...          ...           ...         ...         ...
 s4se33       255          128           106         137         118
 s4se34        89           49            32          50          39
 s4se35        95           42            28          52          43
 s4se36        98           51            31          54          44
 s4se38       104           44            25          63          41

         pct_correct  pct_sw_correct  pct_vsw_correct  pct_L_correct  \
 name
 s0se0      0.716667        0.750000         0.809524       0.666667
 s0se2      0.848315        0.843750         0.865385       0.825581
 s0se5      0.786207        0.844828         0.813953       0.625000
 s0se7      0.800000        0.844156         0.861538       0.692308
 s0se8      0.833333        0.861538         0.942308       0.788235
 ...             ...             ...              ...            ...
 s4se33     0.831373        0.851562         0.896226       0.846715
 s4se34     0.704545        0.734694         0.718750       0.840000
 s4se35     0.627660        0.714286         0.750000       0.673077
 s4se36     0.708333        0.725490         0.709677       0.870370
 s4se38     0.708738        0.704545         0.720000       0.888889

         pct_R_correct task subject  n_units  n_cells  n_mua        session
 name
 s0se0        0.735294  T3g      Li        2        0      2  Li_T3g_052818
 s0se2        0.860215  T3g      Li       14        6      8  Li_T3g_052918
 s0se5        0.902439  T3g      Li        9        5      4  Li_T3g_053018
 s0se7        0.891566  T3g      Li       16        5     11  Li_T3g_053118
 s0se8        0.857143  T3g      Li       14        5      9  Li_T3g_060118
 ...               ...  ...     ...      ...      ...    ...            ...
 s4se33       0.813559  T3g      Ca        1        0      1  Ca_T3g_040919
 s4se34       0.512821  T3g      Ca        1        0      1  Ca_T3g_041119
 s4se35       0.558140  T3g      Ca        1        0      1  Ca_T3g_041619
 s4se36       0.477273  T3g      Ca        1        0      1  Ca_T3g_041919
 s4se38       0.414634  T3g      Ca        1        0      1  Ca_T3g_042319

 [144 rows x 16 columns])

In [54]:
m = info.experiment_metadata_to_nwb(file_path = ei.Path('/mnt/Raw_Data/NWB/'))
#m = info.experiment_metadata_to_nwb()

Exception: could not resolve dtype for ElementIdentifiers 'name'

In [105]:
print(ei.Path().absolute())
ei.Path().absolute().parents[1]

/home/alexgonzalez/Documents/TreeMazeAnalyses2/Notebooks/TM

PosixPath('/home/alexgonzalez/Documents/TreeMazeAnalyses2')

In [86]:
ei.Path.parents

TypeError: 'property' object is not subscriptable

In [38]:
# session table
d = pd.DataFrame(columns=['name', 'subject', 'session', 'task', 'task_orig', 'n_cells', 'n_mua'])
cnt = 0
for ss, subject in enumerate(self.subjects):
    for se, session in enumerate(self.sessions_by_subject[subject]):
        si = self.get_session(session)
        name_id = f"s{ss}_se{se}"
        

        d.loc[cnt, 'name'] = name_id
        d.loc[cnt, 'subject'] = subject
        d.loc[cnt, 'session'] = session
        d.loc[cnt, 'task_orig'] = si.task
        d.loc[cnt, 'task'] = 'OF' if 'OF' in si.task else 'T3'
        d.loc[cnt, 'n_cells'] = si.n_cells
        d.loc[cnt, 'n_mua'] = si.n_mua

        cnt += 1

In [45]:
d[['name','subject','session', 'task','task_orig']].astype('string')

        name subject        session task task_orig
0     s0_se0      Li  Li_T3g_052818   T3       T3g
1     s0_se1      Li   Li_OF_052818   OF        OF
2     s0_se2      Li  Li_T3g_052918   T3       T3g
3     s0_se3      Li   Li_OF_052918   OF        OF
4     s0_se4      Li   Li_OF_053018   OF        OF
..       ...     ...            ...  ...       ...
283  s4_se34      Ca  Ca_T3g_041119   T3       T3g
284  s4_se35      Ca  Ca_T3g_041619   T3       T3g
285  s4_se36      Ca  Ca_T3g_041919   T3       T3g
286  s4_se37      Ca   Ca_OF_042319   OF        OF
287  s4_se38      Ca  Ca_T3g_042319   T3       T3g

[288 rows x 5 columns]

In [56]:
info.save_sessions_to_nwb(file_path=ei.Path('/mnt/Raw_Data/NWB/data/'))

Traceback (most recent call last):
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2383, in save_sessions_to_nwb
    _ = self.session_data_to_nwb(session, name_id, file_path)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2368, in session_data_to_nwb
    f = session_to_nwb(self, session, name_id)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 4295, in session_to_nwb
    b = si.get_event_behavior()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 3672, in get_event_behavior
    return tmf.BehaviorData(self, overwrite)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1308, in __init__
    self.trial_table = self.get_trial_table()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1346, in get_trial_table
    n_L_cues = len(events['CL'])
TypeError: list indices must be integers or slices, not str
Traceback (most recent call last):
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2383, in save_sessions_to_nwb
    _ = self.session_data_to_nwb(session, name_id, file_path)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2368, in session_data_to_nwb
    f = session_to_nwb(self, session, name_id)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 4295, in session_to_nwb
    b = si.get_event_behavior()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 3672, in get_event_behavior
    return tmf.BehaviorData(self, overwrite)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1308, in __init__
    self.trial_table = self.get_trial_table()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1346, in get_trial_table
    n_L_cues = len(events['CL'])
TypeError: list indices must be integers or slices, not str
Traceback (most recent call last):
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2383, in save_sessions_to_nwb
    _ = self.session_data_to_nwb(session, name_id, file_path)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2368, in session_data_to_nwb
    f = session_to_nwb(self, session, name_id)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 4295, in session_to_nwb
    b = si.get_event_behavior()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 3672, in get_event_behavior
    return tmf.BehaviorData(self, overwrite)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1308, in __init__
    self.trial_table = self.get_trial_table()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1346, in get_trial_table
    n_L_cues = len(events['CL'])
TypeError: list indices must be integers or slices, not str
Traceback (most recent call last):
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2383, in save_sessions_to_nwb
    _ = self.session_data_to_nwb(session, name_id, file_path)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2368, in session_data_to_nwb
    f = session_to_nwb(self, session, name_id)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 4295, in session_to_nwb
    b = si.get_event_behavior()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 3672, in get_event_behavior
    return tmf.BehaviorData(self, overwrite)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1308, in __init__
    self.trial_table = self.get_trial_table()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1346, in get_trial_table
    n_L_cues = len(events['CL'])
TypeError: list indices must be integers or slices, not str
Traceback (most recent call last):
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2383, in save_sessions_to_nwb
    _ = self.session_data_to_nwb(session, name_id, file_path)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2368, in session_data_to_nwb
    f = session_to_nwb(self, session, name_id)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 4295, in session_to_nwb
    b = si.get_event_behavior()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 3672, in get_event_behavior
    return tmf.BehaviorData(self, overwrite)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1308, in __init__
    self.trial_table = self.get_trial_table()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1346, in get_trial_table
    n_L_cues = len(events['CL'])
TypeError: list indices must be integers or slices, not str
Traceback (most recent call last):
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2383, in save_sessions_to_nwb
    _ = self.session_data_to_nwb(session, name_id, file_path)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2368, in session_data_to_nwb
    f = session_to_nwb(self, session, name_id)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 4295, in session_to_nwb
    b = si.get_event_behavior()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 3672, in get_event_behavior
    return tmf.BehaviorData(self, overwrite)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1308, in __init__
    self.trial_table = self.get_trial_table()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1346, in get_trial_table
    n_L_cues = len(events['CL'])
TypeError: list indices must be integers or slices, not str
Traceback (most recent call last):
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2383, in save_sessions_to_nwb
    _ = self.session_data_to_nwb(session, name_id, file_path)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2368, in session_data_to_nwb
    f = session_to_nwb(self, session, name_id)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 4295, in session_to_nwb
    b = si.get_event_behavior()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 3672, in get_event_behavior
    return tmf.BehaviorData(self, overwrite)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1308, in __init__
    self.trial_table = self.get_trial_table()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1346, in get_trial_table
    n_L_cues = len(events['CL'])
TypeError: list indices must be integers or slices, not str
Traceback (most recent call last):
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2383, in save_sessions_to_nwb
    _ = self.session_data_to_nwb(session, name_id, file_path)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2368, in session_data_to_nwb
    f = session_to_nwb(self, session, name_id)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 4295, in session_to_nwb
    b = si.get_event_behavior()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 3672, in get_event_behavior
    return tmf.BehaviorData(self, overwrite)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1308, in __init__
    self.trial_table = self.get_trial_table()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1346, in get_trial_table
    n_L_cues = len(events['CL'])
TypeError: list indices must be integers or slices, not str
Traceback (most recent call last):
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2383, in save_sessions_to_nwb
    _ = self.session_data_to_nwb(session, name_id, file_path)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2368, in session_data_to_nwb
    f = session_to_nwb(self, session, name_id)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 4295, in session_to_nwb
    b = si.get_event_behavior()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 3672, in get_event_behavior
    return tmf.BehaviorData(self, overwrite)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1308, in __init__
    self.trial_table = self.get_trial_table()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1346, in get_trial_table
    n_L_cues = len(events['CL'])
TypeError: list indices must be integers or slices, not str
Traceback (most recent call last):
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2383, in save_sessions_to_nwb
    _ = self.session_data_to_nwb(session, name_id, file_path)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2368, in session_data_to_nwb
    f = session_to_nwb(self, session, name_id)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 4295, in session_to_nwb
    b = si.get_event_behavior()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 3672, in get_event_behavior
    return tmf.BehaviorData(self, overwrite)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1308, in __init__
    self.trial_table = self.get_trial_table()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1346, in get_trial_table
    n_L_cues = len(events['CL'])
TypeError: list indices must be integers or slices, not str
Traceback (most recent call last):
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2383, in save_sessions_to_nwb
    _ = self.session_data_to_nwb(session, name_id, file_path)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2368, in session_data_to_nwb
    f = session_to_nwb(self, session, name_id)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 4295, in session_to_nwb
    task = si.task
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 3672, in get_event_behavior
    if return_invalid_pz:
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1308, in __init__
    self.trial_table = self.get_trial_table()
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/tree_maze_functions.py", line 1346, in get_trial_table
    n_L_cues = len(events['CL'])
TypeError: list indices must be integers or slices, not str
Traceback (most recent call last):
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2383, in save_sessions_to_nwb
    _ = self.session_data_to_nwb(session, name_id, file_path)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 2368, in session_data_to_nwb
    f = session_to_nwb(self, session, name_id)
  File "/home/alexgonzalez/Documents/TreeMazeAnalyses2/Analyses/experiment_info.py", line 4310, in session_to_nwb
    data=si.get_track_data()[1:].to_numpy(),
  File "/home/alexgonzalez/anaconda3/envs/dandi/lib/python3.9/site-packages/hdmf/utils.py", line 645, in func_call
    return func(args[0], **pargs)
  File "/home/alexgonzalez/anaconda3/envs/dandi/lib/python3.9/site-packages/hdmf/common/table.py", line 1180, in from_dataframe
    if hasattr(df[col_name].iloc[0], '__len__') and not isinstance(df[col_name].iloc[0], str):
  File "/home/alexgonzalez/anaconda3/envs/dandi/lib/python3.9/site-packages/pandas/core/indexing.py", line 931, in __getitem__
    return self._getitem_axis(maybe_callable, axis=axis)
  File "/home/alexgonzalez/anaconda3/envs/dandi/lib/python3.9/site-packages/pandas/core/indexing.py", line 1566, in _getitem_axis
    self._validate_integer(key, axis)
  File "/home/alexgonzalez/anaconda3/envs/dandi/lib/python3.9/site-packages/pandas/core/indexing.py", line 1500, in _validate_integer
    raise IndexError("single positional indexer is out-of-bounds")
IndexError: single positional indexer is out-of-bounds

In [16]:
getattr(m,'identifier')

'metadata'

In [20]:
s = info.get_session("Li_T3g_073018")

In [23]:
snwb = ei.session_to_nwb(info, session='Li_T3g_073018')

In [26]:
snwb

root pynwb.file.NWBFile at 0x139817366115952
Fields:
  acquisition: {
    event_table <class 'hdmf.common.table.DynamicTable'>,
    firing_rates <class 'pynwb.base.TimeSeries'>,
    track_data <class 'pynwb.base.TimeSeries'>,
    trial_table <class 'hdmf.common.table.DynamicTable'>,
    unit_table <class 'hdmf.common.table.DynamicTable'>
  }
  experimenter: ['Gonzalez, Alex']
  file_create_date: [datetime.datetime(2023, 1, 12, 15, 24, 13, 631664, tzinfo=tzlocal())]
  identifier: Li_T3g_073018
  institution: Stanford
  lab: Giocomo
  session_description: T3g
  session_id: Li_T3g_073018
  session_start_time: 0018-07-30 00:00:00-08:00
  timestamps_reference_time: 0018-07-30 00:00:00-08:00

In [28]:
self = info
pd = ei.pd

md = NWBFile(identifier='metadata',
                 session_description='experiment metadata', 
                 session_start_time=datetime(2018,1,1), 
                 experimenter='Gonzalez, Alex', 
                 lab='Giocomo', 
                 institution='Stanford')

# session table
d = pd.DataFrame(columns=['name', 'subject', 'session', 'task', 'task_orig', 'n_cells', 'n_mua'])
cnt = 0
for ss, subject in enumerate(self.subjects):
    for se, session in enumerate(self.sessions_by_subject[subject]):
        si = self.get_session(session)
        name_id = f"s{ss}_se{se}"

        d.loc[cnt, 'name'] = name_id
        d.loc[cnt, 'subject'] = subject
        d.loc[cnt, 'session'] = session
        d.loc[cnt, 'task_orig'] = si.task
        d.loc[cnt, 'task'] = 'OF' if 'OF' in si.task else 'T3'
        d.loc[cnt, 'n_cells'] = si.n_cells
        d.loc[cnt, 'n_mua'] = si.n_mua

        cnt += 1
md.add_acquisition(DynamicTable.from_dataframe(name='session_table', df=d))

#unit match table
t = self.get_unit_match_table()
t[['match_cl_id', 'subject', 'session_T3', 'session_OF', 'cl_name_T3', 'cl_name_OF', 'uuid_T3', 'uuid_OF',
   'match_pair_number']]

c = self.get_matched_of_cell_clusters()
f1 = lambda a: c.loc[a, 'Cluster']
t['of_cluster_id'] = t.match_cl_id.map(f1)

f1 = lambda a: c.loc[a, 'UMAP-1']
t['of_umap1'] = t.match_cl_id.map(f1)

f1 = lambda a: c.loc[a, 'UMAP-2']
t['of_umap2'] = t.match_cl_id.map(f1)

md.add_acquisition(DynamicTable.from_dataframe(name='unit_task_match_table', df=t))

# task performance table
perf = self.get_behav_perf().set_index('session')
perf['session'] = perf.index
perf['name'] = perf.index.map(d.set_index('session')['name'])
perf = perf.dropna(subset=['name'])
perf = perf.set_index('name')
md.add_child(DynamicTable.from_dataframe(name='behavioral_perf_table', df=perf))

if file_path is not None:
    name_id = 'metadata.nwb'
    with NWBHDF5IO(file_path / name_id, "w") as io:
        io.write(md)

return md

NameError: name 'file_path' is not defined

In [29]:
md

root pynwb.file.NWBFile at 0x139817350620688
Fields:
  experimenter: ['Gonzalez, Alex']
  file_create_date: [datetime.datetime(2023, 1, 12, 15, 27, 46, 43692, tzinfo=tzlocal())]
  identifier: metadata
  institution: Stanford
  lab: Giocomo
  session_description: experiment metadata
  session_start_time: 2018-01-01 00:00:00-08:00
  timestamps_reference_time: 2018-01-01 00:00:00-08:00

In [6]:
m.identifier='a'

In [8]:
m.children

(session_table hdmf.common.table.DynamicTable at 0x139818123991216
 Fields:
   colnames: ['name' 'subject' 'session' 'task' 'task_orig' 'n_cells' 'n_mua']
   columns: (
     name <class 'hdmf.common.table.VectorData'>,
     subject <class 'hdmf.common.table.VectorData'>,
     session <class 'hdmf.common.table.VectorData'>,
     task <class 'hdmf.common.table.VectorData'>,
     task_orig <class 'hdmf.common.table.VectorData'>,
     n_cells <class 'hdmf.common.table.VectorData'>,
     n_mua <class 'hdmf.common.table.VectorData'>
   )
   id: id <class 'hdmf.common.table.ElementIdentifiers'>,
 unit_task_match_table hdmf.common.table.DynamicTable at 0x139818129120464
 Fields:
   colnames: ['match_cl_id' 'subject' 'session_T3' 'session_OF' 'cl_id_T3' 'cl_id_OF'
  'cl_name_T3' 'cl_name_OF' 'uuid_T3' 'uuid_OF' 'session_cl_id_T3'
  'session_cl_id_OF' 'match_pair_number' 'of_cluster_id' 'of_umap1'
  'of_umap2']
   columns: (
     match_cl_id <class 'hdmf.common.table.VectorData'>,
     subject <class 'hdmf.common.table.VectorData'>,
     session_T3 <class 'hdmf.common.table.VectorData'>,
     session_OF <class 'hdmf.common.table.VectorData'>,
     cl_id_T3 <class 'hdmf.common.table.VectorData'>,
     cl_id_OF <class 'hdmf.common.table.VectorData'>,
     cl_name_T3 <class 'hdmf.common.table.VectorData'>,
     cl_name_OF <class 'hdmf.common.table.VectorData'>,
     uuid_T3 <class 'hdmf.common.table.VectorData'>,
     uuid_OF <class 'hdmf.common.table.VectorData'>,
     session_cl_id_T3 <class 'hdmf.common.table.VectorData'>,
     session_cl_id_OF <class 'hdmf.common.table.VectorData'>,
     match_pair_number <class 'hdmf.common.table.VectorData'>,
     of_cluster_id <class 'hdmf.common.table.VectorData'>,
     of_umap1 <class 'hdmf.common.table.VectorData'>,
     of_umap2 <class 'hdmf.common.table.VectorData'>
   )
   id: id <class 'hdmf.common.table.ElementIdentifiers'>,
 behavioral_perf_table hdmf.common.table.DynamicTable at 0x139818128631840
 Fields:
   colnames: ['n_trials' 'n_sw_trials' 'n_vsw_trials' 'n_L_trials' 'n_R_trials'
  'pct_correct' 'pct_sw_correct' 'pct_vsw_correct' 'pct_L_correct'
  'pct_R_correct' 'task' 'subject' 'n_units' 'n_cells' 'n_mua' 'session']
   columns: (
     n_trials <class 'hdmf.common.table.VectorData'>,
     n_sw_trials <class 'hdmf.common.table.VectorData'>,
     n_vsw_trials <class 'hdmf.common.table.VectorData'>,
     n_L_trials <class 'hdmf.common.table.VectorData'>,
     n_R_trials <class 'hdmf.common.table.VectorData'>,
     pct_correct <class 'hdmf.common.table.VectorData'>,
     pct_sw_correct <class 'hdmf.common.table.VectorData'>,
     pct_vsw_correct <class 'hdmf.common.table.VectorData'>,
     pct_L_correct <class 'hdmf.common.table.VectorData'>,
     pct_R_correct <class 'hdmf.common.table.VectorData'>,
     task <class 'hdmf.common.table.VectorData'>,
     subject <class 'hdmf.common.table.VectorData'>,
     n_units <class 'hdmf.common.table.VectorData'>,
     n_cells <class 'hdmf.common.table.VectorData'>,
     n_mua <class 'hdmf.common.table.VectorData'>,
     session <class 'hdmf.common.table.VectorData'>
   )
   id: name <class 'hdmf.common.table.ElementIdentifiers'>)

In [219]:
t = info.get_unit_match_table()
c = info.get_matched_of_cell_clusters()

In [224]:
f1=lambda a: c.loc[a, 'Cluster']
t['of_cluster_id'] = t.match_cl_id.map(f1)

f1=lambda a: c.loc[a, 'UMAP-1']
t['of_umap1'] = t.match_cl_id.map(f1)

f1=lambda a: c.loc[a, 'UMAP-2']
t['of_umap2'] = t.match_cl_id.map(f1)

t

,match_cl_id,subject,session_T3,session_OF,cl_id_T3,cl_id_OF,cl_name_T3,cl_name_OF,uuid_T3,uuid_OF,session_cl_id_T3,session_cl_id_OF,match_pair_number,of_cluster_id,of_umap1,of_umap2
0,0,Li,Li_T3i_061218_0001,Li_OF_061318,438,458,Li_T3i_061218_0001-tt3_d17.5_cl10,Li_OF_061318-tt3_d17.5_cl1,438,458,0,1,0,0,-2.638338,0.990572
1,0,Li,Li_T3g_061318,Li_OF_061318,476,458,Li_T3g_061318-tt3_d17.5_cl5,Li_OF_061318-tt3_d17.5_cl1,476,458,0,1,1,0,-2.638338,0.990572
2,1,Li,Li_T3g_061518,Li_OF_062618,563,778,Li_T3g_061518-tt3_d17.75_cl1,Li_OF_062618-tt3_d17.75_cl15,563,778,0,1,0,1,3.101047,3.932008
3,1,Li,Li_T3g_061818,Li_OF_062618,614,778,Li_T3g_061818-tt3_d17.75_cl7,Li_OF_062618-tt3_d17.75_cl15,614,778,1,1,1,1,3.101047,3.932008
4,2,Li,Li_T3g_061818,Li_OF_061818,613,587,Li_T3g_061818-tt3_d17.75_cl6,Li_OF_061818-tt3_d17.75_cl14,613,587,0,1,0,2,9.152409,4.889115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,213,Ca,Ca_T3g_030519,Ca_OF_030519,4259,4268,Ca_T3g_030519-tt11_d15.25_cl14,Ca_OF_030519-tt11_d15.25_cl13,4259,4268,2,1,1,2,8.302361,4.307436
302,214,Ca,Ca_T3g_030619,Ca_OF_030619,4287,4279,Ca_T3g_030619-tt11_d15.5_cl10,Ca_OF_030619-tt11_d15.5_cl10,4287,4279,0,0,0,1,5.213426,3.009110
303,215,Ca,Ca_T3g_030619,Ca_OF_030619,4288,4280,Ca_T3g_030619-tt11_d15.5_cl12,Ca_OF_030619-tt11_d15.5_cl13,4288,4280,1,1,0,1,3.950651,2.857656
304,215,Ca,Ca_T3g_030719,Ca_OF_030619,4296,4280,Ca_T3g_030719-tt11_d15.5_cl9,Ca_OF_030619-tt11_d15.5_cl13,4296,4280,0,1,1,1,3.950651,2.857656
305,216,Ca,Ca_T3g_031219,Ca_OF_031219,4310,4313,Ca_T3g_031219-tt11_d16.25_cl2,Ca_OF_031219-tt11_d16.25_cl4,4310,4313,0,0,0,0,-2.082132,2.709928

In [142]:
f = info.session_data_to_nwb(session, name_id='test.nwb',file_path=ei.Path('/mnt/Raw_Data/NWB/data/'))

In [216]:
m.children[1].to_dataframe()

,match_cl_id,subject,session_T3,session_OF,cl_id_T3,cl_id_OF,cl_name_T3,cl_name_OF,uuid_T3,uuid_OF,session_cl_id_T3,session_cl_id_OF,match_pair_number
id,,,,,,,,,,,,,
0,0,Li,Li_T3i_061218_0001,Li_OF_061318,438,458,Li_T3i_061218_0001-tt3_d17.5_cl10,Li_OF_061318-tt3_d17.5_cl1,438,458,0,1,0
1,0,Li,Li_T3g_061318,Li_OF_061318,476,458,Li_T3g_061318-tt3_d17.5_cl5,Li_OF_061318-tt3_d17.5_cl1,476,458,0,1,1
2,1,Li,Li_T3g_061518,Li_OF_062618,563,778,Li_T3g_061518-tt3_d17.75_cl1,Li_OF_062618-tt3_d17.75_cl15,563,778,0,1,0
3,1,Li,Li_T3g_061818,Li_OF_062618,614,778,Li_T3g_061818-tt3_d17.75_cl7,Li_OF_062618-tt3_d17.75_cl15,614,778,1,1,1
4,2,Li,Li_T3g_061818,Li_OF_061818,613,587,Li_T3g_061818-tt3_d17.75_cl6,Li_OF_061818-tt3_d17.75_cl14,613,587,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,213,Ca,Ca_T3g_030519,Ca_OF_030519,4259,4268,Ca_T3g_030519-tt11_d15.25_cl14,Ca_OF_030519-tt11_d15.25_cl13,4259,4268,2,1,1
302,214,Ca,Ca_T3g_030619,Ca_OF_030619,4287,4279,Ca_T3g_030619-tt11_d15.5_cl10,Ca_OF_030619-tt11_d15.5_cl10,4287,4279,0,0,0
303,215,Ca,Ca_T3g_030619,Ca_OF_030619,4288,4280,Ca_T3g_030619-tt11_d15.5_cl12,Ca_OF_030619-tt11_d15.5_cl13,4288,4280,1,1,0
304,215,Ca,Ca_T3g_030719,Ca_OF_030619,4296,4280,Ca_T3g_030719-tt11_d15.5_cl9,Ca_OF_030619-tt11_d15.5_cl13,4296,4280,0,1,1
305,216,Ca,Ca_T3g_031219,Ca_OF_031219,4310,4313,Ca_T3g_031219-tt11_d16.25_cl2,Ca_OF_031219-tt11_d16.25_cl4,4310,4313,0,0,0

In [203]:
d['task'].value_counts()

T3    155
OF    133
Name: task, dtype: int64

In [192]:
perf.

Index(['Li_T3g_052818', 'Li_T3g_052918', 'Li_T3g_053018', 'Li_T3g_053118',
       'Li_T3g_060118', 'Li_T3g_060418', 'Li_T3i_060518', 'Li_T3i_060618',
       'Li_T3i_060818', 'Li_T3i_061118',
       ...
       'Ca_T3g_032819', 'Ca_T3g_032919', 'Ca_T3g_040119', 'Ca_T3g_040419',
       'Ca_T3g_040919', 'Ca_T3g_041119', 'Ca_T3g_041619', 'Ca_T3g_041919',
       'Ca_T3g_042219', 'Ca_T3g_042319'],
      dtype='object', name='session', length=168)

In [204]:
perf = info.get_behav_perf(overwrite=True)

In [206]:
perf = info.get_behav_perf().set_index('session')
perf['session'] = perf.index
perf['name'] = perf.index.map(d.set_index('session')['name'])
perf = perf.dropna(subset=['name'])

,n_trials,n_sw_trials,n_vsw_trials,n_L_trials,n_R_trials,pct_correct,pct_sw_correct,pct_vsw_correct,pct_L_correct,pct_R_correct,task,subject,n_units,n_cells,n_mua,session,name
session,,,,,,,,,,,,,,,,,
Li_T3g_052818,61,28,21,27,34,0.716667,0.750000,0.809524,0.666667,0.735294,T3g,Li,2,0,2,Li_T3g_052818,s0_se0
Li_T3g_052918,179,64,52,86,93,0.848315,0.843750,0.865385,0.825581,0.860215,T3g,Li,14,6,8,Li_T3g_052918,s0_se2
Li_T3g_053018,146,58,43,64,82,0.786207,0.844828,0.813953,0.625000,0.902439,T3g,Li,9,5,4,Li_T3g_053018,s0_se5
Li_T3g_053118,161,77,65,78,83,0.800000,0.844156,0.861538,0.692308,0.891566,T3g,Li,16,5,11,Li_T3g_053118,s0_se7
Li_T3g_060118,176,65,52,85,91,0.833333,0.861538,0.942308,0.788235,0.857143,T3g,Li,14,5,9,Li_T3g_060118,s0_se8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ca_T3g_041119,89,49,32,50,39,0.704545,0.734694,0.718750,0.840000,0.512821,T3g,Ca,1,0,1,Ca_T3g_041119,s4_se34
Ca_T3g_041619,95,42,28,52,43,0.627660,0.714286,0.750000,0.673077,0.558140,T3g,Ca,1,0,1,Ca_T3g_041619,s4_se35
Ca_T3g_041919,98,51,31,54,44,0.708333,0.725490,0.709677,0.870370,0.477273,T3g,Ca,1,0,1,Ca_T3g_041919,s4_se36
Ca_T3g_042219,101,46,25,57,44,0.613861,0.673913,0.800000,0.736842,0.454545,T3g,Ca,0,0,0,Ca_T3g_042219,NaN
Ca_T3g_042319,104,44,25,63,41,0.708738,0.704545,0.720000,0.888889,0.414634,T3g,Ca,1,0,1,Ca_T3g_042319,s4_se38

In [167]:
session_table = DynamicTable.from_dataframe(name='session_table',df=d)

In [168]:
md = NWBContainer(name='meta_data')
md.add_child(session_table)

In [170]:
md

meta_data pynwb.core.NWBContainer at 0x140115429873408

,n_trials,n_sw_trials,n_vsw_trials,n_L_trials,n_R_trials,pct_correct,pct_sw_correct,pct_vsw_correct,pct_L_correct,pct_R_correct,task,subject,n_units,n_cells,n_mua
session,,,,,,,,,,,,,,,
Li_T3g_052818,61,28,21,27,34,0.716667,0.750000,0.809524,0.666667,0.735294,T3g,Li,2,0,2
Li_T3g_052918,179,64,52,86,93,0.848315,0.843750,0.865385,0.825581,0.860215,T3g,Li,14,6,8
Li_T3g_053018,146,58,43,64,82,0.786207,0.844828,0.813953,0.625000,0.902439,T3g,Li,9,5,4
Li_T3g_053118,161,77,65,78,83,0.800000,0.844156,0.861538,0.692308,0.891566,T3g,Li,16,5,11
Li_T3g_060118,176,65,52,85,91,0.833333,0.861538,0.942308,0.788235,0.857143,T3g,Li,14,5,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ca_T3g_041119,89,49,32,50,39,0.704545,0.734694,0.718750,0.840000,0.512821,T3g,Ca,1,0,1
Ca_T3g_041619,95,42,28,52,43,0.627660,0.714286,0.750000,0.673077,0.558140,T3g,Ca,1,0,1
Ca_T3g_041919,98,51,31,54,44,0.708333,0.725490,0.709677,0.870370,0.477273,T3g,Ca,1,0,1
Ca_T3g_042219,101,46,25,57,44,0.613861,0.673913,0.800000,0.736842,0.454545,T3g,Ca,0,0,0
Ca_T3g_042319,104,44,25,63,41,0.708738,0.704545,0.720000,0.888889,0.414634,T3g,Ca,1,0,1

In [161]:
'Ca_OF_042319' in perf.index

False

In [149]:
si.n_cells, si.n_mua

(0, 1)

In [134]:
ei = reload(ei)
info = ei.SummaryInfo()

In [73]:
info.select_session()

interactive(children=(Dropdown(description='subject', options=('Li', 'Ne', 'Cl', 'Al', 'Ca'), value='Li'), Dro

interactive(children=(Dropdown(description='subject', options=('Li', 'Ne', 'Cl', 'Al', 'Ca'), value='Li'), Dro

In [74]:
%%time
session = 'Li_OF_060118'
si = info.get_session(session)

CPU times: user 65.9 ms, sys: 0 ns, total: 65.9 ms
Wall time: 65.2 ms

In [135]:
ei.session_to_nwb(info, session)

root pynwb.file.NWBFile at 0x140115614786272
Fields:
  acquisition: {
    firing_rates <class 'pynwb.base.TimeSeries'>,
    track_data <class 'pynwb.base.TimeSeries'>,
    unit_table <class 'hdmf.common.table.DynamicTable'>
  }
  experimenter: ['Gonzalez, Alex']
  file_create_date: [datetime.datetime(2023, 1, 6, 15, 31, 23, 19161, tzinfo=tzlocal())]
  identifier: Li_OF_060118
  institution: Stanford
  lab: Giocomo
  session_description: OF
  session_id: Li_OF_060118
  session_start_time: 0018-06-01 00:00:00-08:00
  timestamps_reference_time: 0018-06-01 00:00:00-08:00

In [130]:
d = ei.pd.DataFrame(index=range(si.n_units), columns=['uuid', 'cl_name', 'unit_type'])
for unit in range(si.n_units):
    uuid = info.get_uuid_from_se_suid(session,unit)
    cl_name = info.tdf.loc[uuid, 'cl_name']
    cell_type = info.tdf.loc[uuid, 'unit_type']
    d.loc[unit] = uuid, cl_name, cell_type
d

   uuid                        cl_name unit_type
0   161    Li_OF_060118-tt3_d17.0_cl11      cell
1   162    Li_OF_060118-tt3_d17.0_cl12      cell
2   163    Li_OF_060118-tt8_d16.25_cl1      cell
3   164    Li_OF_060118-tt8_d16.25_cl2      cell
4   165   Li_OF_060118-tt8_d16.25_cl10      cell
5   166   Li_OF_060118-tt8_d16.25_cl11      cell
6   167   Li_OF_060118-tt8_d16.25_cl19      cell
7   168   Li_OF_060118-tt10_d17.25_cl9      cell
8   169    Li_OF_060118-tt2_d16.75_cl8       mua
9   170   Li_OF_060118-tt7_d17.25_cl10       mua
10  171   Li_OF_060118-tt7_d17.25_cl21       mua
11  172   Li_OF_060118-tt7_d17.25_cl25       mua
12  173   Li_OF_060118-tt10_d17.25_cl0       mua
13  174   Li_OF_060118-tt10_d17.25_cl4       mua
14  175  Li_OF_060118-tt10_d17.25_cl10       mua
15  176  Li_OF_060118-tt10_d17.25_cl11       mua
16  177  Li_OF_060118-tt10_d17.25_cl15       mua
17  178  Li_OF_060118-tt10_d17.25_cl16       mua
18  179  Li_OF_060118-tt14_d16.75_cl16       mua
19  180  Li_OF_060118-tt14_d16.75_cl17       mua
20  181  Li_OF_060118-tt14_d16.75_cl19       mua

In [128]:
info.tdf

,subject,session,task,date,suid,unit_type,tt,cl,depth,cl_name
uuid,,,,,,,,,,
0,Li,Li_T3g_052818,T3g,52818,0,mua,2,11,16.50,Li_T3g_052818-tt2_d16.5_cl11
1,Li,Li_T3g_052818,T3g,52818,1,mua,2,14,16.50,Li_T3g_052818-tt2_d16.5_cl14
2,Li,Li_OF_052818,OF,52818,0,cell,7,8,17.25,Li_OF_052818-tt7_d17.25_cl8
3,Li,Li_OF_052818,OF,52818,1,cell,8,4,16.25,Li_OF_052818-tt8_d16.25_cl4
4,Li,Li_OF_052818,OF,52818,2,cell,8,18,16.25,Li_OF_052818-tt8_d16.25_cl18
...,...,...,...,...,...,...,...,...,...,...
4381,Ca,Ca_T3g_041119,T3g,41119,0,mua,11,13,18.50,Ca_T3g_041119-tt11_d18.5_cl13
4382,Ca,Ca_T3g_041619,T3g,41619,0,mua,11,4,18.75,Ca_T3g_041619-tt11_d18.75_cl4
4383,Ca,Ca_T3g_041919,T3g,41919,0,mua,11,13,19.25,Ca_T3g_041919-tt11_d19.25_cl13
4384,Ca,Ca_OF_042319,OF,42319,0,cell,11,3,19.75,Ca_OF_042319-tt11_d19.75_cl3
4385,Ca,Ca_T3g_042319,T3g,42319,0,mua,11,10,19.75,Ca_T3g_042319-tt11_d19.75_cl10

In [122]:
def datestr2datetime(datestr):
    month = datestr[:2]
    day = datestr[2:4]
    year = datestr[4:]
    return datetime(int(year), int(month), int(day))

def si2nwb(si):
    task = si.task
    units = si.cell_ids
    fr = si.get_fr()

    # file declaration
    f = NWBFile(
                session_description=task, 
                identifier=session,
                session_id=session, 
                session_start_time=datestr2datetime(si.date),
                experimenter='Gonzalez, Alex', 
                lab='Giocomo',
                institution="Stanford")

    # firing rates for units
    x = TimeSeries(
                    name='firing_rates_units',
                    data=fr[units].T,
                    unit='uv',
                    starting_time=0.0, 
                    resolution=si.params['time_step'],
                    rate=1/si.params['time_step'])
    f.add_acquisition(x)

    # firing rates for mua
    x = TimeSeries(
                    name='firing_rates_mua',
                    data=fr[~units].T,
                    unit='uv',
                    starting_time=0.0, 
                    resolution=si.params['time_step'],
                    rate=1/si.params['time_step'])
    f.add_acquisition(x)

    if task != 'OF':
        b = si.get_event_behavior()
        trial_table = b.trial_table
        event_table = b.event_table
        
        # video tracking data
        x = TimeSeries(
                        name='track_data',
                        data=si.get_track_data()[1:].to_numpy(),
                        description='columns=x,y,hd',
                        unit='mm',
                        starting_time=0.0, 
                        rate=si.params['time_step'])
        f.add_acquisition(x)

        # trial table
        t = DynamicTable.from_dataframe(name='trial_table', df=trial_table)
        f.add_acquisition(t)

        # behavioral event table
        t = DynamicTable.from_dataframe(name='event_table', df=event_table)
        f.add_acquisition(t)
    else:
        # video tracking data
        t = si.get_track_data()
        cols = ['x','y','hd','sp','ha']
        tt = ei.pd.DataFrame(columns=cols)
        for co in cols:
            tt[co] = t[co]

        x = TimeSeries(
                        name='track_data',
                        data=tt.to_numpy(),
                        description='columns=x,y,hd,sp,ha',
                        unit='mm',
                        starting_time=0.0, 
                        rate=si.params['time_step'])
        f.add_acquisition(x)
        
    return f

In [121]:
si2nwb(si)

root pynwb.file.NWBFile at 0x140115662274624
Fields:
  acquisition: {
    firing_rates_mua <class 'pynwb.base.TimeSeries'>,
    firing_rates_units <class 'pynwb.base.TimeSeries'>,
    track_data <class 'pynwb.base.TimeSeries'>
  }
  experimenter: ['Gonzalez, Alex']
  file_create_date: [datetime.datetime(2023, 1, 6, 11, 59, 28, 421783, tzinfo=tzlocal())]
  identifier: Li_OF_060118
  institution: Stanford
  lab: Giocomo
  session_description: OF
  session_id: Li_OF_060118
  session_start_time: 0018-06-01 00:00:00-08:00
  timestamps_reference_time: 0018-06-01 00:00:00-08:00

In [98]:
info.tdf[(info.tdf.session==session) & (info.tdf.suid==0)].index[0]

161

In [110]:
_,uuid = info.get_si_suid_from_cl_name('Li_T3g_052818-tt2_d16.5_cl11')
uuid.index[0]

0

In [113]:
info.get_unit_table(overwrite=True)

,subject_cl_id,subject,session,task,date,subsession,tt,depth,unique_cl_name,session_cl_id,...,subject_cl_match_lib_id,snr,fr,isi_viol_rate,cl_id,cl_match_con_id,cl_match_lib_id,task2,match_lib_multi_task_id,match_con_multi_task_id
0,0,Li,Li_T3g_052818,T3g,052818,0000,2,16.5,Li_T3g_052818-tt2_d16.5_cl11,0,...,NaN,NaN,2.84,0.2,0,NaN,NaN,T3,-1,-1
1,1,Li,Li_T3g_052818,T3g,052818,0000,2,16.5,Li_T3g_052818-tt2_d16.5_cl14,1,...,NaN,NaN,2.69,0.05,1,NaN,NaN,T3,-1,-1
2,2,Li,Li_OF_052818,OF,052818,0000,7,17.25,Li_OF_052818-tt7_d17.25_cl8,0,...,41,5.09,13.56,1.13,2,41,41,OF,-1,-1
3,3,Li,Li_OF_052818,OF,052818,0000,8,16.25,Li_OF_052818-tt8_d16.25_cl4,1,...,46,10.08,2.95,0.44,3,46,46,OF,-1,-1
4,4,Li,Li_OF_052818,OF,052818,0000,8,16.25,Li_OF_052818-tt8_d16.25_cl18,2,...,54,6.6,33.03,0.54,4,54,54,OF,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381,156,Ca,Ca_T3g_041119,T3g,041119,0000,11,18.5,Ca_T3g_041119-tt11_d18.5_cl13,0,...,NaN,4.05,4.8,0.93,4381,NaN,NaN,T3,-1,-1
4382,157,Ca,Ca_T3g_041619,T3g,041619,0000,11,18.75,Ca_T3g_041619-tt11_d18.75_cl4,0,...,NaN,4.94,4.75,0.12,4382,NaN,NaN,T3,-1,-1
4383,158,Ca,Ca_T3g_041919,T3g,041919,0000,11,19.25,Ca_T3g_041919-tt11_d19.25_cl13,0,...,NaN,4.02,4.95,2.11,4383,NaN,NaN,T3,-1,-1
4384,159,Ca,Ca_OF_042319,OF,042319,0000,11,19.75,Ca_OF_042319-tt11_d19.75_cl3,0,...,25,4.61,4.75,0.07,4384,857,857,OF,-1,-1
4385,160,Ca,Ca_T3g_042319,T3g,042319,0000,11,19.75,Ca_T3g_042319-tt11_d19.75_cl10,0,...,NaN,3.81,4.39,0.5,4385,NaN,NaN,T3,-1,-1

In [171]:
t = info.get_unit_match_table()
t[['match_cl_id','subject', 'session_T3', 'session_OF', 'cl_name_T3', 'cl_name_OF', 'uuid_T3','uuid_OF', 'match_pair_number']]

,match_cl_id,subject,session_T3,session_OF,cl_id_T3,cl_id_OF,cl_name_T3,cl_name_OF,uuid_T3,uuid_OF,session_cl_id_T3,session_cl_id_OF,match_pair_number
0,0,Li,Li_T3i_061218_0001,Li_OF_061318,438,458,Li_T3i_061218_0001-tt3_d17.5_cl10,Li_OF_061318-tt3_d17.5_cl1,438,458,0,1,0
1,0,Li,Li_T3g_061318,Li_OF_061318,476,458,Li_T3g_061318-tt3_d17.5_cl5,Li_OF_061318-tt3_d17.5_cl1,476,458,0,1,1
2,1,Li,Li_T3g_061518,Li_OF_062618,563,778,Li_T3g_061518-tt3_d17.75_cl1,Li_OF_062618-tt3_d17.75_cl15,563,778,0,1,0
3,1,Li,Li_T3g_061818,Li_OF_062618,614,778,Li_T3g_061818-tt3_d17.75_cl7,Li_OF_062618-tt3_d17.75_cl15,614,778,1,1,1
4,2,Li,Li_T3g_061818,Li_OF_061818,613,587,Li_T3g_061818-tt3_d17.75_cl6,Li_OF_061818-tt3_d17.75_cl14,613,587,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,213,Ca,Ca_T3g_030519,Ca_OF_030519,4259,4268,Ca_T3g_030519-tt11_d15.25_cl14,Ca_OF_030519-tt11_d15.25_cl13,4259,4268,2,1,1
302,214,Ca,Ca_T3g_030619,Ca_OF_030619,4287,4279,Ca_T3g_030619-tt11_d15.5_cl10,Ca_OF_030619-tt11_d15.5_cl10,4287,4279,0,0,0
303,215,Ca,Ca_T3g_030619,Ca_OF_030619,4288,4280,Ca_T3g_030619-tt11_d15.5_cl12,Ca_OF_030619-tt11_d15.5_cl13,4288,4280,1,1,0
304,215,Ca,Ca_T3g_030719,Ca_OF_030619,4296,4280,Ca_T3g_030719-tt11_d15.5_cl9,Ca_OF_030619-tt11_d15.5_cl13,4296,4280,0,1,1
305,216,Ca,Ca_T3g_031219,Ca_OF_031219,4310,4313,Ca_T3g_031219-tt11_d16.25_cl2,Ca_OF_031219-tt11_d16.25_cl4,4310,4313,0,0,0

In [172]:
t[['match_cl_id','subject', 'session_T3', 'session_OF', 'cl_name_T3', 'cl_name_OF', 'uuid_T3','uuid_OF', 'match_pair_number']]

,match_cl_id,subject,session_T3,session_OF,cl_name_T3,cl_name_OF,uuid_T3,uuid_OF,match_pair_number
0,0,Li,Li_T3i_061218_0001,Li_OF_061318,Li_T3i_061218_0001-tt3_d17.5_cl10,Li_OF_061318-tt3_d17.5_cl1,438,458,0
1,0,Li,Li_T3g_061318,Li_OF_061318,Li_T3g_061318-tt3_d17.5_cl5,Li_OF_061318-tt3_d17.5_cl1,476,458,1
2,1,Li,Li_T3g_061518,Li_OF_062618,Li_T3g_061518-tt3_d17.75_cl1,Li_OF_062618-tt3_d17.75_cl15,563,778,0
3,1,Li,Li_T3g_061818,Li_OF_062618,Li_T3g_061818-tt3_d17.75_cl7,Li_OF_062618-tt3_d17.75_cl15,614,778,1
4,2,Li,Li_T3g_061818,Li_OF_061818,Li_T3g_061818-tt3_d17.75_cl6,Li_OF_061818-tt3_d17.75_cl14,613,587,0
...,...,...,...,...,...,...,...,...,...
301,213,Ca,Ca_T3g_030519,Ca_OF_030519,Ca_T3g_030519-tt11_d15.25_cl14,Ca_OF_030519-tt11_d15.25_cl13,4259,4268,1
302,214,Ca,Ca_T3g_030619,Ca_OF_030619,Ca_T3g_030619-tt11_d15.5_cl10,Ca_OF_030619-tt11_d15.5_cl10,4287,4279,0
303,215,Ca,Ca_T3g_030619,Ca_OF_030619,Ca_T3g_030619-tt11_d15.5_cl12,Ca_OF_030619-tt11_d15.5_cl13,4288,4280,0
304,215,Ca,Ca_T3g_030719,Ca_OF_030619,Ca_T3g_030719-tt11_d15.5_cl9,Ca_OF_030619-tt11_d15.5_cl13,4296,4280,1
305,216,Ca,Ca_T3g_031219,Ca_OF_031219,Ca_T3g_031219-tt11_d16.25_cl2,Ca_OF_031219-tt11_d16.25_cl4,4310,4313,0

In [ ]:
from sklearn.cluster im

In [72]:

units = si.cell_ids
fr = si.get_fr()
b = si.get_event_behavior()
trial_table = b.trial_table
event_table = b.event_table

# file declaration
f = NWBFile(
            session_description=si.task, 
            identifier=session,
            session_id=session, 
            session_start_time=datestr2datetime(si.date),
            experimenter='Gonzalez, Alex', 
            lab='Giocomo',
            institution="Stanford")

# firing rates for units
x = TimeSeries(
                name='firing_rates_units',
                data=fr[units].T,
                unit='uv',
                starting_time=0.0, 
                resolution=si.params['time_step'],
                rate=1/si.params['time_step'])
f.add_acquisition(x)

# firing rates for mua
x = TimeSeries(
                name='firing_rates_mua',
                data=fr[~units].T,
                unit='uv',
                starting_time=0.0, 
                resolution=si.params['time_step'],
                rate=1/si.params['time_step'])
f.add_acquisition(x)

# video tracking data
x = TimeSeries(
                name='track_data',
                data=si.get_track_data()[1:].to_numpy(),
                description='x,y,ha',
                unit='mm',
                starting_time=0.0, 
                rate=si.params['time_step'])
f.add_acquisition(x)

# trial table
t = DynamicTable.from_dataframe(name='trial_table', df=trial_table)
f.add_acquisition(t)

# behavioral event table
t = DynamicTable.from_dataframe(name='event_table', df=event_table)
f.add_acquisition(t)
print(f)

root pynwb.file.NWBFile at 0x140116019756864
Fields:
  acquisition: {
    event_table <class 'hdmf.common.table.DynamicTable'>,
    firing_rates_mua <class 'pynwb.base.TimeSeries'>,
    firing_rates_units <class 'pynwb.base.TimeSeries'>,
    track_data <class 'pynwb.base.TimeSeries'>,
    trial_table <class 'hdmf.common.table.DynamicTable'>
  }
  experimenter: ['Gonzalez, Alex']
  file_create_date: [datetime.datetime(2023, 1, 6, 9, 50, 42, 116754, tzinfo=tzlocal())]
  identifier: Li_T3g_053018
  institution: Stanford
  lab: Giocomo
  session_description: T3g
  session_id: Li_T3g_053018
  session_start_time: 0018-05-30 00:00:00-08:00
  timestamps_reference_time: 0018-05-30 00:00:00-08:00

In [57]:
b = si.get_event_behavior()
trial_table = b.trial_table
n_trials = len(trial_table)

        event      t0      tE  dur  trial_num  out_bound
0       Start      -1      -1    0         -1          0
1         DE2     174     179    5         -1          0
2         DE1     250     255    5         -1          0
3          L1     362     386   24         -1          0
4     R_blank     385     410   25         -1          0
...       ...     ...     ...  ...        ...        ...
2454      DE1  129331  129336    5        145          1
2455      DE1  129535  129540    5        145          1
2456      DE1  129786  129791    5        145          1
2457      DE2  130152  130157    5        145          1
2458     Stop  131418  131418    0        145          1

[2459 rows x 6 columns]

In [66]:
tt =  dict()
for co in trial_table.columns:
    tt[co] = trial_table[co]
t =

trial_table hdmf.common.table.DynamicTable at 0x140116026118304
Fields:
  colnames: ['t0' 'tD' 'tE' 'tE_1' 'tE_2' 'tR' 'dur' 'cue' 'dec' 'correct' 'long'
 'goal' 'grw' 'sw' 'vsw']
  columns: (
    t0 <class 'hdmf.common.table.VectorData'>,
    tD <class 'hdmf.common.table.VectorData'>,
    tE <class 'hdmf.common.table.VectorData'>,
    tE_1 <class 'hdmf.common.table.VectorData'>,
    tE_2 <class 'hdmf.common.table.VectorData'>,
    tR <class 'hdmf.common.table.VectorData'>,
    dur <class 'hdmf.common.table.VectorData'>,
    cue <class 'hdmf.common.table.VectorData'>,
    dec <class 'hdmf.common.table.VectorData'>,
    correct <class 'hdmf.common.table.VectorData'>,
    long <class 'hdmf.common.table.VectorData'>,
    goal <class 'hdmf.common.table.VectorData'>,
    grw <class 'hdmf.common.table.VectorData'>,
    sw <class 'hdmf.common.table.VectorData'>,
    vsw <class 'hdmf.common.table.VectorData'>
  )
  id: id <class 'hdmf.common.table.ElementIdentifiers'>

In [65]:
DynamicTable?

Init signature: DynamicTable(*args, **kwargs)
Docstring:
A column-based table. Columns are defined by the argument *columns*. This argument
must be a list/tuple of :class:`~hdmf.common.table.VectorData` and :class:`~hdmf.common.table.VectorIndex` objects
or a list/tuple of dicts containing the keys ``name`` and ``description`` that provide the name and description
of each column in the table. Additionally, the keys ``index``, ``table``, ``enum`` can be used for specifying
additional structure to the table columns. Setting the key ``index`` to ``True`` can be used to indicate that the
:class:`~hdmf.common.table.VectorData` column will store a ragged array (i.e. will be accompanied with a
:class:`~hdmf.common.table.VectorIndex`). Setting the key ``table`` to ``True`` can be used to indicate that the
column will store regions to another DynamicTable. Setting the key ``enum`` to ``True`` can be used to indicate
that the column data will come from a fixed set of values.

Columns in DynamicTable subclasses can be statically defined by specifying the class attribute *\_\_columns\_\_*,
rather than specifying them at runtime at the instance level. This is useful for defining a table structure
that will get reused. The requirements for *\_\_columns\_\_* are the same as the requirements described above
for specifying table columns with the *columns* argument to the DynamicTable constructor.
Init docstring:
__init__(name, description, id=None, columns=None, colnames=None)



Args:
    name (:py:class:`~str`): the name of this table
    description (:py:class:`~str`): a description of what is in this table
    id (:py:class:`~numpy.ndarray` or :py:class:`~list` or :py:class:`~tuple` or :py:class:`~Dataset` or :py:class:`~zarr.core.Array` or :py:class:`~hdmf.utils.StrDataset` or :py:class:`~hdmf.query.HDMFDataset` or :py:class:`~hdmf.data_utils.AbstractDataChunkIterator` or :py:class:`~hdmf.data_utils.DataIO` or :py:class:`~hdmf.common.table.ElementIdentifiers`): the identifiers for this table
    columns (:py:class:`~tuple` or :py:class:`~list`): the columns in this table
    colnames (:py:class:`~numpy.ndarray` or :py:class:`~list` or :py:class:`~tuple` or :py:class:`~Dataset` or :py:class:`~zarr.core.Array` or :py:class:`~hdmf.utils.StrDataset` or :py:class:`~hdmf.query.HDMFDataset` or :py:class:`~hdmf.data_utils.AbstractDataChunkIterator`): the ordered names of the columns in this table. columns must also be provided.
File:           ~/anaconda3/envs/dandi/lib/python3.9/site-packages/hdmf/common/table.py
Type:           ExtenderMeta
Subclasses:     AlignedDynamicTable, TimeIntervals, SweepTable, IntracellularElectrodesTable, IntracellularStimuliTable, IntracellularResponsesTable, SimultaneousRecordingsTable, SequentialRecordingsTable, RepetitionsTable, ExperimentalConditionsTable, ...

{'t0': 0         392
 1        2210
 2        3799
 3        4759
 4        5894
         ...
 141    119381
 142    120309
 143    122195
 144    124080
 145    127071
 Name: t0, Length: 146, dtype: int64,
 'tD': 0        1288
 1        2415
 2        4034
 3        5228
 4        6093
         ...
 141    119674
 142    120509
 143    122482
 144    125381
 145    128121
 Name: tD, Length: 146, dtype: int64,
 'tE': 0        1455
 1        2753
 2        4444
 3        5436
 4        6398
         ...
 141    119990
 142    120846
 143    122866
 144    125729
 145    131418
 Name: tE, Length: 146, dtype: int64,
 'tE_1': 0        1455
 1        2753
 2        4253
 3        5436
 4        6286
         ...
 141    119854
 142    120693
 143    122717
 144    125729
 145    131418
 Name: tE_1, Length: 146, dtype: int64,
 'tE_2': 0        1857
 1        3320
 2        4444
 3        5754
 4        6398
         ...
 141    119990
 142    120846
 143    122866
 144    125729
 145    131418
 Name: tE_2, Length: 146, dtype: int64,
 'tR': 0        2203
 1        3792
 2        4753
 3        5888
 4        6710
         ...
 141    120302
 142    122189
 143    124074
 144    127064
 145    131418
 Name: tR, Length: 146, dtype: int64,
 'dur': 0      1063
 1       543
 2       644
 3       677
 4       503
        ...
 141     608
 142     537
 143     670
 144    1648
 145    4346
 Name: dur, Length: 146, dtype: int64,
 'cue': 0      R
 1      R
 2      R
 3      L
 4      L
       ..
 141    L
 142    R
 143    R
 144    R
 145    R
 Name: cue, Length: 146, dtype: object,
 'dec': 0      L
 1      L
 2      R
 3      L
 4      L
       ..
 141    L
 142    R
 143    R
 144    L
 145    R
 Name: dec, Length: 146, dtype: object,
 'correct': 0      0.0
 1      0.0
 2      1.0
 3      1.0
 4      1.0
       ...
 141    1.0
 142    1.0
 143    1.0
 144    0.0
 145    NaN
 Name: correct, Length: 146, dtype: float64,
 'long': 0      NaN
 1      NaN
 2      1.0
 3      0.0
 4      1.0
       ...
 141    1.0
 142    1.0
 143    1.0
 144    NaN
 145    1.0
 Name: long, Length: 146, dtype: float64,
 'goal': 0      NaN
 1      NaN
 2      1.0
 3      3.0
 4      4.0
       ...
 141    3.0
 142    1.0
 143    1.0
 144    NaN
 145    NaN
 Name: goal, Length: 146, dtype: float64,
 'grw': 0      0
 1      0
 2      1
 3      1
 4      1
       ..
 141    1
 142    1
 143    1
 144    0
 145    0
 Name: grw, Length: 146, dtype: int64,
 'sw': 0      0
 1      0
 2      0
 3      1
 4      0
       ..
 141    1
 142    1
 143    0
 144    0
 145    0
 Name: sw, Length: 146, dtype: int64,
 'vsw': 0      0
 1      0
 2      0
 3      1
 4      0
       ..
 141    1
 142    1
 143    0
 144    0
 145    0
 Name: vsw, Length: 146, dtype: int64}

In [46]:
units = si.cell_ids
fr = si.get_fr()

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        , 10.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        , 10.59016994,  0.        ,  0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ]])

In [41]:
si.get_track_data()

               t           x         y        ha
0        507.677    0.000000  0.000000  0.000000
1        507.697    0.000000  0.000000  0.000000
2        507.717    0.000000  0.000000  0.000000
3        507.737    0.000000  0.000000  0.000000
4        507.757    0.000000  0.000000  0.000000
...          ...         ...       ...       ...
131414  3135.957  245.620479 -5.786683  5.811946
131415  3135.977  245.620479 -5.786683  5.811946
131416  3135.997  245.620479 -5.786683  5.811946
131417  3136.017  245.620479 -5.786683  5.811946
131418  3136.037  245.620479 -5.786683  5.811946

[131419 rows x 4 columns]

In [32]:
si.params

{'time_step': 0.02,
 'samp_rate': 32000,
 'n_tetrodes': 16,
 'fr_temporal_smoothing': 0.125,
 'spk_outlier_thr': None,
 'spk_recording_buffer': 3}

In [31]:
f

root pynwb.file.NWBFile at 0x140116774534208
Fields:
  acquisition: {
    firing_rates <class 'pynwb.base.TimeSeries'>
  }
  experimenter: ['AG']
  file_create_date: [datetime.datetime(2023, 1, 5, 14, 30, 54, 205345, tzinfo=tzlocal())]
  identifier: Li_T3g_053018
  institution: Stanford
  lab: Giocomo
  session_description: T3g
  session_id: Li_T3g_053018
  session_start_time: 0018-05-30 00:00:00-08:00
  timestamps_reference_time: 0018-05-30 00:00:00-08:00